<div id="carousel-events" class="carousel slide" data-ride="carousel">
	<!-- Indicators -->
	<ol class="carousel-indicators">
		<li data-target="#carousel-events" data-slide-to="0" class="active"></li>
		<li data-target="#carousel-events" data-slide-to="1"></li>
		{#<li data-target="#carousel-events" data-slide-to="2"></li>#}
	</ol>

	<!-- Wrapper for slides -->
	<div class="carousel-inner" role="listbox">
		<div class="item active">
			<article class="webinar-info-box"><div class="in">
				<div class="desc">
					<h2>See us at</h2>
					<h1>Tableau Conference 2015</h1>
				</div>
				<div class="action">
					<div class="date">October 19-23, 2015<span class="hr">/</span> Las Vegas, Nevada</div>
					<a href="http://tc15.tableau.com/" target="_blank" class="btn btn-white">Sign Up</a>
				</div>
			</div></article>
		</div>
		<div class="item">
			<article class="webinar-info-box"><div class="in">
				<div class="desc">
					<h2>See us at</h2>
					<h1>How to become data-driven from social media</h1>
				</div>
				<div class="action">
					<div class="date">September 14, 2015<span class="hr">/</span> London, UK</div>
					<a href="https://generalassemb.ly/education/how-to-become-data-driven-from-social-media/london/15899" target="_blank" class="btn btn-white">Sign Up</a>
				</div>
			</div></article>
			</div>
			<div class="item">

			<article class="webinar-info-box"><div class="in">
				<div class="desc">
					<h2>See us at</h2>
					<h1>CFO Congress</h1>
				</div>
				<div class="action">
					<div class="date">September 10, 2015<span class="hr">/</span> Prague, Czech</div>
					<a href="http://www.cfocongress.cz/program-konference/program" target="_blank" class="btn btn-white">Sign Up</a>
				</div>
			</div></article>
		</div>

	</div>

	<!-- Controls -->
	<!--
	<a class="left carousel-control" href="#carousel-events" role="button" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="right carousel-control" href="#carousel-events" role="button" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
	-->
</div>
