<article class="webinar-info-box"><div class="in">
		<div class="desc">
			<h2>Our webinar</h2>
			<h1>Logistics and data</h1>
		</div>
		<div class="action">
			<div class="date">29.12.2014 <span class="hr">/</span> Keboola HQ</div>
			<a href="" class="btn btn-white">Sign Up</a>
		</div>
	</div></article>
