{% extends "layout.html.twig" %}

{% block description %}Use Keboola Connection to mash up data from various sources including social networks,
	web services, internal databases, etc..	Display it in Tableau or GoodData.{% endblock %}

{% block head %}
	{% include "header.html.twig" %}
	<div class="in">
		<article class="header-article">
			<h2><strong>Work with data</strong> & <strong>Make Money</strong></h2>
			<h1>Keboola Connection</h1>
			<p> Whatever you need to do to get value out of data, Keboola Connection (KBC) makes it easier. Allowing you to do more (more value, more complex data operations) with less (less people, time and expertise).

</p>
			<a href="{{ path('contact') }}" class="btn btn-big btn-white">ASK FOR DEMO</a>
			{#<a href="" class="btn btn-big">LEARN MORE</a>#}
		</article>
	</div>
	{% include "header-carousel.html.twig" %}
{% endblock %}

{% block content %}
	<section>
		<div class="customer-logo-list"><div class="in">
				<ul>
					<li><a href="http://www.gooddata.com" target="_blank" class="gooddata-item"><i>GOOD DATA</i></a></li>
					<li><a href="http://www.sap.com" target="_blank" class="sap-item"><i>SAP</i></a></li>
					<li><a href="http://www.tableau.com" target="_blank" class="tableau-item"><i>TABLEAU</i></a></li>
					<li><a href="http://www.salesforce.com" target="_blank" class="salesforce-item"><i>SALESFORCE</i></a></li>
				</ul>
			</div></div>
		<article class="article">
			<div class="article-img-left"><img src="/img/temp_docker.png" alt=""></div>
			<div class="in">
				<div class="desc desc-right">
					<!-- <h1>Mix your data in the cloud, clean it and collaborate on its enhancement with others in an agile and secure way.</h1> -->
					<p>KBC is built for data professionals on all levels. The only knowledge required is understanding of data relations and grasp on SQL (KBC uses MySQL or Postgres SQL dialects). KBC itself is highly intuitive and can be navigated with no to very little guidance. That results in extremely short learning curve and minimal time-to-value. With KBC in your toolbox, what used to be projects now turn to tasks, and it is often faster to build and try something than to write a requirements document for it.

</p>

				<!--		<a href="{{ path('contact') }}" class="btn btn-big btn-white">ASK FOR DEMO</a> -->


									<a href="" class="btn btn-white">More</a>
				</div>
			</div>
		</article>


		<div class="article-box"><div class="in-second">
				<h1><strong>Apps</strong> for Keboola</h1>

				
				<p>Churn prediction, logistics flow, revenue prediction, NLP, etc. One click solution is never far away.

				With the ease of Cloud you can now gain new insights into your data with just one click.
				Get your enhanced data into <strong>GoodData</strong>, <strong>Tableau</strong>, <strong>Elastic</strong>, databases like <strong>MySQL</strong> and <strong>AWS</strong> or even to wearables such as <strong>Pebble</strong> for information whenever you need it.
		</p>
				<ul class="box-list">
					<li><article class="item item-white">
							<i class="ico ico-day-night"></i>
							<h1>Weather Augmentation</h1>
							<h2>by <strong>KEBOOLA</strong></h2>
							<p>Easy augmentation and backfill your business data with weather ...</p>
							<a href="https://sites.google.com/a/keboola.com/wiki/home/keboola-connection/user-space/recipes#weather" target="_blank" class="btn btn-white">Recipe detail</a>
						</article></li>
					<li><article class="item item-white">
							<i class="ico ico-kmeans"></i>
							<h1>Grouped Histogram</h1>
							<h2>by <strong>KEBOOLA</strong></h2>
							<p>Find common areas in several different data sets... </p>
							<a href="https://sites.google.com/a/keboola.com/wiki/home/keboola-connection/user-space/recipes#histogram" target="_blank" class="btn btn-white">Recipe detail</a>
						</article></li>
					<li><article class="item item-dark item-img-1">
							<div class="tags"><span class="tag-item">FEATURED</span></div>
							<h1>Basket Analyses</h1>
							<h2>by <strong>KEBOOLA</strong></h2>
							<p>Goods combinations that have the biggest potential to earn more money ... </p>
							<a href="https://sites.google.com/a/keboola.com/wiki/home/keboola-connection/user-space/recipes#basket" target="_blank" class="btn btn-white">Recipe detail</a>
						</article></li>
				</ul>
			</div></div>



		<article class="article">
			<div class="article-img-right"><img src="/img/temp_snowflake.png" alt=""></div>
			<div class="in">
				<div class="desc desc-left">
					<!-- <h1>Mix your data in the cloud, clean it and collaborate on its enhancement with others in an agile and secure way.</h1> -->
					<p>Stop thinking about ETL or DWH as technologies, and think of them as functions. What is it you’re trying to achieve? “Build a DWH” is never the requirement, it is means to responding to some business ask. So, don’t build a DWH. Use KBC to fulfill the true requirement.

					Similarly, there is no such thing as “ETL”. What we have is a platform which makes it extremely straightforward to transform and enrich the data stored within it for purpose of any consumption. Set what you want to send somewhere, configure the connection. Done. Or, setup extraction from a new source and the data becomes part of your collection & whatever workflows you build on top of it.

	</p>

				<!--		<a href="{{ path('contact') }}" class="btn btn-big btn-white">ASK FOR DEMO</a> -->


									<a href="" class="btn btn-white">More</a>
				</div>
			</div>
		</article>


		<div class="article-box"><div class="in-second">
				<h1><strong>Apps</strong> for Keboola</h1>

				<p>Apps that run on top of your data and make it easy for business people to perform Data Science tasks. They typically take only minutes to set up.  Check the <a href="https://www.youtube.com/watch?v=6OZXON7Q-Fc&index=2&list=PLaOkL-l3SPgOnoINXEnpvqBA8T35j6HGA" target="_blank">video here.
				</p>
				<p>You can use apps for Churn prediction, logistics flow, revenue prediction and with new apps always being developed that one click solution is never far away.

				With the ease of Cloud you can now gain new insights into your data with just one click.
				You can then digest the results in any way you like.
				We help you get your enhanced data into <strong>GoodData</strong>, <strong>Tableau</strong>, <strong>Elastic</strong>, databases like <strong>MySQL</strong> and <strong>AWS</strong> or even to wearables such as <strong>Pebble</strong> for information whenever you need it.
 </p>
				<ul class="box-list">
					<li><article class="item item-white">
							<i class="ico ico-day-night"></i>
							<h1>Weather Augmentation</h1>
							<h2>by <strong>KEBOOLA</strong></h2>
							<p>Easy augmentation and backfill your business data with weather ...</p>
							<a href="https://sites.google.com/a/keboola.com/wiki/home/keboola-connection/user-space/recipes#weather" target="_blank" class="btn btn-white">Recipe detail</a>
						</article></li>
					<li><article class="item item-white">
							<i class="ico ico-kmeans"></i>
							<h1>Grouped Histogram</h1>
							<h2>by <strong>KEBOOLA</strong></h2>
							<p>Find common areas in several different data sets... </p>
							<a href="https://sites.google.com/a/keboola.com/wiki/home/keboola-connection/user-space/recipes#histogram" target="_blank" class="btn btn-white">Recipe detail</a>
						</article></li>
					<li><article class="item item-dark item-img-1">
							<div class="tags"><span class="tag-item">FEATURED</span></div>
							<h1>Basket Analyses</h1>
							<h2>by <strong>KEBOOLA</strong></h2>
							<p>Goods combinations that have the biggest potential to earn more money ... </p>
							<a href="https://sites.google.com/a/keboola.com/wiki/home/keboola-connection/user-space/recipes#basket" target="_blank" class="btn btn-white">Recipe detail</a>
						</article></li>
				</ul>
			</div></div>
		<article class="cinemas-box"><div class="in">
				<div class="cinemas-box-head">
					<h1><strong>More</strong><br><strong>Keboola</strong></h1>
					<a href="https://www.youtube.com/channel/UCUDR3znPbK9xvOHYIGBBSIA/feed" target="_blank" class="btn">Browse more</a>
				</div>
				<ul>
					<li><a href="https://www.youtube.com/watch?v=G5VOhTHF11Y" target="_blank">
						<div class="img"><span class="glyphicon glyphicon-play-circle"></span><img src="https://img.youtube.com/vi/G5VOhTHF11Y/0.jpg" alt="DATA GEEKS & BANKING DATA"></div>
						<h2>Hackathon BI</h2>
						<h3>DATA GEEKS & BANKING DATA</h3>
					</a></li>
					<li><a href="https://www.youtube.com/watch?v=rSzQfu0kzzM" target="_blank">
						<div class="img"><span class="glyphicon glyphicon-play-circle"></span><img src="https://img.youtube.com/vi/rSzQfu0kzzM/0.jpg" alt="EXAMPLE: GOOGLE ANALYTICS TO DASHBOARDS"></div>
						<h2>Keboola Connection</h2>
						<h3>EXAMPLE: GOOGLE ANALYTICS TO DASHBOARDS</h3>
					</a></li>
				</ul>
			</div></article>
	</section>
{% endblock %}
