{% extends "layout.html.twig" %}

{% block description %}Use Keboola Connection to mash up data from various sources including social networks,
	web services, internal databases, etc..	Display it in Tableau or GoodData.{% endblock %}

{% block head %}
	<div class="header home-header"><div class="in">
		{% include "header.html.twig" %}
		<article>
			<h2><strong>Data Integration</strong> & <strong>Collaboration platform</strong></h2>
			<h1>Keboola Connection</h1>
			<p>Use Keboola Connection to mash up data from various sources including social networks,
			web services, internal databases, etc..
			Display it in Tableau or GoodData.</p>
			<a href="{{ path('contact') }}" class="btn btn-big btn-white">ASK FOR DEMO</a>
			<a href="{{ path('story', {'story': 'h1'}) }}" class="btn btn-big">LEARN MORE</a>
		</article>
	</div></div>
{% endblock %}

{% block content %}
	<section>
		<div class="customer-logo-list"><div class="in">
				<ul>
					<li><a href="http://www.gooddata.com" target="_blank" class="gooddata-item"><i>GOOD DATA</i></a></li>
					<li><a href="http://www.sap.com" target="_blank" class="sap-item"><i>SAP</i></a></li>
					<li><a href="http://www.tableau.com" target="_blank" class="tableau-item"><i>TABLEAU</i></a></li>
					<li><a href="http://www.salesforce.com" target="_blank" class="salesforce-item"><i>SALESFORCE</i></a></li>
				</ul>
			</div></div>
		<article class="article">
			<div class="article-img-left"><img src="/img/browser-content-img.png" alt=""></div>
			<div class="in">
				<div class="desc desc-right">
					<h1>Mix the data in the cloud, clean it and collaborate on it’s enhancement with other people in an agile and secure way.</h1>
					<p>Our platform is fully extensible by third parties in all layers. Extractors are made by Keboola or it's partners and provisioned by Keboola. We enhance the Cloud ETL layer with <strong>SQLDEP</strong> for easy orientation in large SQL queries, own sandbox, recipes for repetitive tasks and more.</p>

					<a href="{{ path('contact') }}" class="btn btn-big btn-white">ASK FOR DEMO</a>


				<!--						<a href="" class="btn btn-white">More</a>-->
				</div>
			</div>
		</article>
		<div class="article-box"><div class="in-second">
				<h1><strong>Recipes</strong> for Keboola</h1>

				<p>Recepies are apps that run on top of your data and make it easy for business people to perform Data Science tasks. <br>
				They typically take only minutes to set up. Check the <a href="https://www.youtube.com/watch?v=6OZXON7Q-Fc&index=2&list=PLaOkL-l3SPgOnoINXEnpvqBA8T35j6HGA" target="_blank">video here.
				</p>
				<p>You can have recepies for Churn prediction, logistics flow, revenue prediction, etc.
				With the easiness of Cloud you can now try different Insights into your data with just one click. At the consumer end we help you deliver your data into <strong>GoodData</strong>, <strong>Tableau</strong>, <strong>Elastic</strong> or  databases like <strong>MySQL</strong>, <strong>AWS</strong> and even to wearables such as <strong>Pebble</strong>. </p>
				<ul class="box-list">
					<li><article class="item item-white">
							<i class="ico ico-day-night"></i>
							<h1>Weather Augmentation</h1>
							<h2>by <strong>KEBOOLA</strong></h2>
							<p>Easy augmentation and backfill your business data with weather ...</p>
							<a href="https://sites.google.com/a/keboola.com/wiki/home/keboola-connection/user-space/recipes#weather" target="_blank" class="btn btn-white">Recipe detail</a>
						</article></li>
					<li><article class="item item-white">
							<i class="ico ico-kmeans"></i>
							<h1>Grouped Histogram</h1>
							<h2>by <strong>KEBOOLA</strong></h2>
							<p>Find common areas in several different data sets... </p>
							<a href="https://sites.google.com/a/keboola.com/wiki/home/keboola-connection/user-space/recipes#histogram" target="_blank" class="btn btn-white">Recipe detail</a>
						</article></li>
					<li><article class="item item-dark item-img-1">
							<div class="tags"><span class="tag-item">FEATURED</span></div>
							<h1>Basket Analyses</h1>
							<h2>by <strong>KEBOOLA</strong></h2>
							<p>Goods combinations that have the biggest potential to earn more money ... </p>
							<a href="https://sites.google.com/a/keboola.com/wiki/home/keboola-connection/user-space/recipes#basket" target="_blank" class="btn btn-white">Recipe detail</a>
						</article></li>
				</ul>
			</div></div>
		<article class="cinemas-box"><div class="in">
				<div class="cinemas-box-head">
					<h1>Keboola<br>Cinemas</h1>
					<a href="https://www.youtube.com/channel/UCUDR3znPbK9xvOHYIGBBSIA/feed" target="_blank" class="btn">Browse more</a>
				</div>
				<ul>
					<li><a href="https://www.youtube.com/watch?v=G5VOhTHF11Y" target="_blank">
						<div class="img"><img src="http://img.youtube.com/vi/G5VOhTHF11Y/0.jpg" alt="DATA GEEKS & BANKING DATA"></div>
						<h2>Hackathon BI</h2>
						<h3>DATA GEEKS & BANKING DATA</h3>
					</a></li>
					<li><a href="https://www.youtube.com/watch?v=rSzQfu0kzzM" target="_blank">
						<div class="img"><img src="http://img.youtube.com/vi/rSzQfu0kzzM/0.jpg" alt="EXAMPLE: GOOGLE ANALYTICS TO DASHBOARDS"></div>
						<h2>Keboola Connection</h2>
						<h3>EXAMPLE: GOOGLE ANALYTICS TO DASHBOARDS</h3>
					</a></li>
				</ul>
			</div></article>
	</section>
{% endblock %}
