{% extends "layout.html.twig" %}

{% block head %}
	<div class="header home-header"><div class="in">
		{% include "header.html.twig" %}
		<article>
			<h2><strong>Data Integration</strong> & <strong>Collaboration platform</strong></h2>
			<h1>Data Platform</h1>
			<p>Secure collaboration on data enhancement, blending sharing. Extracting data from more than 50 sources and counting.</p>
			<a href="{{ path('contact') }}" class="btn btn-big btn-white">ASK FOR DEMO</a>
			<a href="{{ path('story', {'story': 'h1'}) }}" class="btn btn-big">LEARN MORE</a>
		</article>
	</div></div>
{% endblock %}

{% block content %}
	<section>
		<div class="customer-logo-list"><div class="in">
				<ul>
					<li><a href="" class="sap-item"><i>SAP</i></a></li>
					<li><a href="" class="anyplan-item"><i>ANYPLAN</i></a></li>
					<li><a href="" class="salesforce-item"><i>SALESFORCE</i></a></li>
					<li><a href="" class="wiseio-item"><i>WISE.IO</i></a></li>
				</ul>
			</div></div>
		<article class="article">
			<div class="article-img-left"><img src="/img/browser-content-img.png" alt=""></div>
			<div class="in">
				<div class="desc desc-right">
					<h1>Mix the data in the cloud, clean it and collaborate on it’s enhancement with other people in an agile and secure way.</h1>
					<p>The platform is fully extensible by third parties in all layers. Extractors are made by partners and provisioned by Keboola, we enhance the Cloud ETL layer with <strong>SQLDEP</strong> for easy orientation in large SQL queries, own sandbox, recipes for repetitive tasks and more.</p>
					<!--						<a href="" class="btn btn-white">More</a>-->
				</div>
			</div>
		</article>
		<div class="article-box"><div class="in-second">
				<h1><strong>Recipes</strong> for Keboola</h1>
				<p>You can have recepies for Churn prediction, logistics flow, revenue prediction, etc.  With the easiness of Cloud you can now try different Insights into your data with just one click. At the consumer end we help you deliver your data into <strong>GoodData</strong>, <strong>Birst</strong>, <strong>Anaplan</strong>, <strong>Chartio</strong> or  databases like <strong>MySQL</strong>, <strong>AWS</strong> and even to wearables such as <strong>Pebble</strong>. </p>
				<ul class="box-list">
					<li><article class="item item-white">
							<i class="ico ico-day-night"></i>
							<h1>Weather Augmentation</h1>
							<h2>by <strong>KEBOOLA</strong></h2>
							<p>Easy augmentation and backfill your business data with weather. Once you have one ...</p>
							<a href="" class="btn btn-white">Recipe detail</a>
						</article></li>
					<li><article class="item item-white">
							<i class="ico ico-season-sale"></i>
							<h1>K Means Segmentation</h1>
							<h2>by <strong>KEBOOLA</strong></h2>
							<p>Map out data into clusters. See the decision trees behind ...</p>
							<a href="" class="btn btn-white">Recipe detail</a>
						</article></li>
					<li><article class="item item-dark item-img-1">
							<div class="tags"><span class="tag-item">FEATURED</span></div>
							<h1>Basket Analyses</h1>
							<h2>by <strong>KEBOOLA</strong></h2>
							<p>Goods that have the biggest potential to earn the biggest margin. Which combinations ... </p>
							<a href="" class="btn">Recipe detail</a>
						</article></li>
				</ul>
			</div></div>
		<article class="cinemas-box"><div class="in">
				<div class="cinemas-box-head">
					<h1>Keboola<br>Cinemas</h1>
					<a href="" class="btn">Browse more</a>
				</div>
				<ul>
					<li><a href="">
							<div class="img"><img src="/img/cinemas-img-1.jpg" alt=""></div>
							<h2>Hackathon BI</h2>
							<h3>DATA GEEKS & BANKING DATA</h3>
						</a></li>
					<li><a href="">
							<div class="img"><img src="/img/cinemas-img-2.jpg" alt=""></div>
							<h2>Keboola Connection</h2>
							<h3>EXAMPLE: GOOGLE ANALYTICS TO DASHBOARDS</h3>
						</a></li>
				</ul>
			</div></article>
	</section>
{% endblock %}
