{% extends "layout.html.twig" %}

{% block head %}
		<div class="header jobs-header"><div class="in">
			{% include "header.html.twig" %}
			<article>
				<h1>Jobs</h1>
				<p>BI positions available in Keboola network</p>
			</article>
		</div></div>
{% endblock %}

{% block content %}
		<section>
			<div class="article-box"><div class="in-second">
				<h1>Browse data <strong>jobs</strong></h1>
				<ul class="partners-list">
					<li><article>
						<h1>Talterra</h1>
						<h2>#DOPLNIT #TAG</h2>
						<p>Doplnit kratky popis ...</p>
						<a href="http://talterra.cz/kontakt/pracujte-s-nami" class="btn btn-white" target="_blank">Job detail</a>
					</article></li>
					<li><article>
						<h1>Billigence</h1>
						<h2>#SENIORBIANALYST #AUSTRALIA</h2>
						<p>Our partner in the world of large enterprises Billigence is looking for a senior candidate. If you are tempped by complex problems and large corporations, this is the right position for you. You will get to work for UK, Czech and Australian clients!!!</p>
						<a href="http://www.billigence.com/en/contact_us" target="_blank" class="btn btn-white">Job detail</a>
					</article></li>
					<li><article>
						<h1>Zoom International</h1>
						<h2>#CUSTOMERCARE #BIBRAINZ #PRODUCTLOVE</h2>
						<p>Love customer care? Would love to create great BI products for customer care insights? This crazy bunch of Czech might be the right choice for you. They are totally nuts and within 3 months have built their Call Centre Insights product on top of our Data Stack!!!  And they are one of the top 5 companies globally in their segment! Seriously, this is a big chance!</p>
						<a href="http://www.joinzoom.com/" target="_blank" class="btn btn-white">Job detail</a>
					</article></li>
				</ul>
			</div></div>
		</section>
{% endblock %}
