{% extends "layout.html.twig" %}

{% block head %}
		<div class="header jobs-header"><div class="in">
			{% include "header.html.twig" %}
			<article>
				<h1>Jobs</h1>
				<p>Positions available in Keboola network</p>
			</article>
		</div></div>
{% endblock %}

{% block content %}
		<section>
			<div class="article-box"><div class="in-second">
				<h1>Browse data <strong>jobs</strong></h1>
				<ul class="partners-list">
					<li><article>
						<h1>Data Analyst in Prague</h1>
							<h2>#datageek #keboola #prague</h2>
							<p>We are always open to hear from people and companies who wish to explore opportunities working with us. Our emphasis is on data and business analytics and related backend development, but do let us know if you believe you have a skill that would fit with what we do!</p>
							<a href="{{ path('job', {job: 'prague'}) }}" class="btn btn-white" target="_blank">Job detail</a>
					</article></li>
					<li><article>
						<h1>Data Analyst in Vancouver</h1>
						<h2>#knowledge #kreativity #kuriosity</h2>
						<p>As self proclaimed “data geeks”, we get to spend our time doing what we love best - challenging our knowledge, kreativity, and kuriosity to kreate extraordinary solutions.</p>
						<a href="{{ path('job', {job: 'vancouver'}) }}" class="btn btn-white" target="_blank">Job detail</a>
					</article></li>
					<li><article>
						<h1>UX Designer in Vancouver</h1>
						<h2>#knowledge #kreativity #kuriosity</h2>
						<p>We are constantly learning new ways to use data and even newer ways to deliver it to our clients. This 3 month position (with the potential to grow into a full time role), will be tasked with translating our vision for web based learning into actionable, well crafted design details.</p>
						<a href="{{ path('job', {job: 'ux-vancouver'}) }}" class="btn btn-white" target="_blank">Job detail</a>
					</article></li>
					<li><article>
						<h1>Talterra</h1>
						<h2>#DOPLNIT #TAG</h2>
						<p>Doplnit kratky popis ...</p>
						<a href="http://talterra.cz/kontakt/pracujte-s-nami" class="btn btn-white" target="_blank">Job detail</a>
					</article></li>
					<li><article>
						<h1>Billigence</h1>
						<h2>#SENIORBIANALYST #AUSTRALIA</h2>
						<p>Our partner in the world of large enterprises Billigence is looking for a senior candidate. If you are tempped by complex problems and large corporations, this is the right position for you. You will get to work for UK, Czech and Australian clients!!!</p>
						<a href="http://www.billigence.com/en/contact_us" target="_blank" class="btn btn-white">Job detail</a>
					</article></li>
					<li><article>
						<h1>Zoom International</h1>
						<h2>#CUSTOMERCARE #BIBRAINZ #PRODUCTLOVE</h2>
						<p>Love customer care? Would love to create great BI products for customer care insights? This crazy bunch of Czech might be the right choice for you. They are totally nuts and within 3 months have built their Call Centre Insights product on top of our Data Stack!!!  And they are one of the top 5 companies globally in their segment! Seriously, this is a big chance!</p>
						<a href="http://www.joinzoom.com/" target="_blank" class="btn btn-white">Job detail</a>
					</article></li>
				</ul>
			</div></div>
		</section>
{% endblock %}
