{% extends "layout.html.twig" %}

{% block title %}Jobs | {% endblock %}

{% block description %}We and our partners are always looking for talented people, who loves to work with data.{% endblock %}

{% block head %}
	{% include "header.html.twig" %}
	<div class="header jobs-header"><div class="in">
		<article>
			<h1>Jobs</h1>
			<p>Positions available in the Keboola network</p>
		</article>
	</div></div>
{% endblock %}

{% block content %}
		<section>
			<div class="article-box"><div class="in-second">
				<h1>Browse data <strong>jobs</strong></h1>
				<ul class="partners-list">
					<li><article>
						<h1>Data Analyst - Bali</h1>
							<h2>#keboola #bali #surf's on</h2>
							<p>We are always open to hear from people and companies who wish to explore opportunities working with us. Our emphasis is on data and business analytics and related backend development, but do let us know if you believe you have a skill that would fit with what we do!</p>
							<a href="{{ path('job', {job: 'bali'}) }}" class="btn btn-white">Job detail</a>
					</article></li>
					<li><article>
						<h1>Data Analyst in Prague</h1>
							<h2>#datageek #keboola #prague</h2>
							<p>We are always open to hear from people and companies who wish to explore opportunities working with us. Our emphasis is on data and business analytics and related backend development, but do let us know if you believe you have a skill that would fit with what we do!</p>
							<a href="{{ path('job', {job: 'prague'}) }}" class="btn btn-white">Job detail</a>
					</article></li>
					<li><article>
						<h1>Data Analyst in Vancouver</h1>
						<h2>#datageek #keboola #vancouver</h2>
						<p>
						Simply put, we see value in data. Our goal is to use business intelligence to uncover the wealth hidden in data and show our clients how to make money from it.</p>
						<a href="{{ path('job', {job: 'vancouver'}) }}" class="btn btn-white">Job detail</a>
					</article></li>
					<li><article>
						<h1>Sales in Vancouver</h1>
						<h2>#street smarts #kreativity #drive # sales #kuriosity</h2>
						<p>We are looking for a dynamic self-starter who views helping others as second nature. You must be able to readily supply data solutions that empower our clients to improve their businesses. In your past 3-5 years of sales experience you have figured out what works and what doesn’t and can bring this expertise to revolutionize our sales process.</p>
						<a href="{{ path('job', {job: 'sales-vancouver'}) }}" class="btn btn-white">Job detail</a>
					</article></li>

					<li><article>
						<h1>Billigence</h1>
						<h2>#SENIORBIANALYST #AUSTRALIA</h2>
						<p>Our partner in the world of large enterprises Billigence is looking for a senior candidate. If you are tempped by complex problems and large corporations, this is the right position for you. You will get to work for UK, Czech and Australian clients!!!</p>
						<a href="http://www.billigence.com/en/contact_us" target="_blank" class="btn btn-white">Job detail</a>
					</article></li>
					<li><article>
						<h1>Zoom International</h1>
						<h2>#CUSTOMERCARE #BIBRAINZ #PRODUCTLOVE</h2>
						<p>Love customer care? Would love to create great BI products for customer care insights? This crazy bunch of Czech might be the right choice for you. They are totally nuts and within 3 months have built their Call Centre Insights product on top of our Data Stack!!!  And they are one of the top 5 companies globally in their segment! Seriously, this is a big chance!</p>
						<a href="http://www.joinzoom.com/" target="_blank" class="btn btn-white">Job detail</a>
					</article></li>
				</ul>
			</div></div>
		</section>
{% endblock %}
