/*!
 *
 *	Project:	Keboola
 *	Author:		Petr Urbanek - www.r4ms3s.cz
 *	Twitter:	@r4ms3scz
 *
 */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
	display: block
}

audio, canvas, video {
	display: inline-block;
	*display: inline;
	*zoom: 1
}

audio:not([controls]) {
	display: none
}

html, body {
	margin: 0;
	padding: 0
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, cite, code, del, dfn, em, img, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, button, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	line-height: 1;
	font-family: inherit
}

html {
	font-size: 62.5%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%
}

a:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px
}

a:hover, a:active {
	outline: 0
}

sub, sup {
	position: relative;
	font-size: 75%;
	line-height: 0;
	vertical-align: baseline
}

sup {
	top: -0.5em
}

sub {
	bottom: -0.25em
}

img {
	-ms-interpolation-mode: bicubic
}

button, input, select, textarea {
	margin: 0;
	font-size: 100%;
	vertical-align: middle
}

button, input {
	*overflow: visible;
	line-height: normal
}

button::-moz-focus-inner, input::-moz-focus-inner {
	padding: 0;
	border: 0
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button
}

input[type="search"] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box
}

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance: none
}

textarea {
	overflow: auto;
	vertical-align: top
}

p {
	margin: 0
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-weight: normal;
	text-rendering: optimizelegibility
}

ul, ol {
	padding: 0;
	margin: 0
}

ul ul, ul ol, ol ol, ol ul {
	margin-bottom: 0
}

ul {
	list-style: none
}

ol {
	list-style: none
}

dl {
	margin-bottom: 0
}

hr {
	margin: 0;
	border: 0
}

strong {
	font-weight: bold
}

em {
	font-style: italic
}

abbr {
	font-size: 90%;
	text-transform: uppercase;
	border-bottom: 1px dotted #ddd;
	cursor: help
}

small {
	font-size: 100%
}

cite {
	font-style: normal
}

* {
	-webkit-box-sizing: border-box;
	-khtml-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	*behavior: url(js/libs/boxsizing.htc)
}

html, body {
	width: 100%;
	height: auto
}

body {
	margin: 0;
	font-size: 12px;
	font-size: 1.2 pxrem;
	line-height: 1;
	font-family: 'Gotham Rounded A', 'Gotham Rounded B', 'Arial CE', Arial, sans-serif;
	color: #647082;
	background: #f7fafc;
	-webkit-font-smoothing: antialiased
}

a {
	color: #647082;
	text-decoration: none
}

a:hover {
	text-decoration: none
}

.page {
	position: relative;
	margin: 0 auto 0;
	width: 1404px;
	height: auto;
	border-left: 2px solid #eef1f6;
	border-right: 2px solid #eef1f6;
	overflow: hidden;
	text-align: center
}

.in {
	position: relative;
	margin: 0 auto 0;
	width: 1118px;
	height: 100%;
	*zoom: 1
}

.in:before, .in:after {
	display: table;
	content: ""
}

.in:after {
	clear: both
}

.in-second {
	position: relative;
	margin: 0 auto 0;
	width: 1200px;
	height: 100%;
	*zoom: 1
}

.in-second:before, .in-second:after {
	display: table;
	content: ""
}

.in-second:after {
	clear: both
}

.btn {
	display: inline-block;
	position: relative;
	padding: 0 48px 0 18px;
	width: auto;
	height: 50px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 2px solid #fff;
	border-color: rgba(255, 255, 255, 0.5);
	font-size: 14px;
	font-size: 1.4rem;
	line-height: 46px;
	font-weight: 500;
	color: #fff;
	vertical-align: top
}

.btn:after {
	content: '';
	position: absolute;
	right: 17px;
	top: 50%;
	margin: -5px 0 0 0;
	width: 5px;
	height: 9px;
	background: url(../img/btn-arrow-bg.png) 0 0 no-repeat
}

.btn-white {
	padding: 0 49px 0 19px;
	border: 1px solid #9fabbd;
	border-color: rgba(159, 171, 189, 0.5);
	font-size: 14px;
	font-size: 1.4rem;
	line-height: 46px;
	color: #00a8fe;
	background: #ffffff;
	background: -moz-linear-gradient(top, #fff 60%, #f1f3f6 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, #fff), color-stop(100%, #f1f3f6));
	background: -webkit-linear-gradient(top, #fff 60%, #f1f3f6 100%);
	background: -o-linear-gradient(top, #fff 60%, #f1f3f6 100%);
	background: -ms-linear-gradient(top, #fff 60%, #f1f3f6 100%);
	background: linear-gradient(to bottom, #fff 60%, #f1f3f6 100%);
	-webkit-box-shadow: inset 0 -2px 2px rgba(159, 171, 189, 0.2);
	-moz-box-shadow: inset 0 -2px 2px rgba(159, 171, 189, 0.2);
	box-shadow: inset 0 -2px 2px rgba(159, 171, 189, 0.2)
}

.btn-white:after {
	background: url(../img/btn-arrow-blue-bg.png) 0 0 no-repeat
}

.btn-big {
	width: auto;
	height: 58px
}

.btn-big.btn {
	padding: 0 70px 0 26px;
	font-size: 18px;
	font-size: 1.8rem;
	line-height: 54px
}

.btn-big.btn:after {
	width: 16px;
	height: 13px;
	background-image: url(../img/btn-big-arrow-bg.png)
}

.btn-big.btn-white {
	padding: 0 60px 0 20px;
	font-size: 18px;
	font-size: 1.8rem;
	line-height: 56px
}

.btn-big.btn-white:after {
	width: 8px;
	height: 13px;
	background-image: url(../img/btn-big-arrow-blue-bg.png)
}

.btn-big:after {
	right: 24px;
	margin-top: -7px
}

.get-in-touch-btn {
	display: block;
	padding: 125px 50px;
	width: 100%;
	height: auto;
	background: #1d293d
}

.get-in-touch-btn a {
	display: inline-block;
	padding: 20px 30px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 2px solid rgba(255, 255, 255, 0.5);
	font-size: 32px;
	font-size: 3.2rem;
	line-height: 1.3em;
	font-weight: 300;
	color: #fff;
	vertical-align: top
}

.get-in-touch-btn a:hover {
	border: 2px solid #fff
}

.get-in-touch-btn i {
	position: relative;
	left: 0;
	top: -2px;
	display: inline-block;
	margin: 0 0 0 10px;
	width: 21px;
	height: 20px;
	background: url(../img/get-in-touch-ico.png) 0 0 no-repeat;
	vertical-align: middle
}

.tag-item {
	display: inline-block;
	margin: 0 8px 10px 0;
	padding: 0 10px;
	width: auto;
	height: 25px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size: 12px;
	font-size: 1.2rem;
	line-height: 25px;
	font-weight: 700;
	color: #fe1e38;
	background-color: #FFF;
	background-image: -moz-linear-gradient(bottom, rgba(159, 171, 189, 0.02) 0, rgba(255, 255, 255, 0.02) 60%, rgba(255, 255, 255, 0.02) 100%);
	background-image: -o-linear-gradient(bottom, rgba(159, 171, 189, 0.02) 0, rgba(255, 255, 255, 0.02) 60%, rgba(255, 255, 255, 0.02) 100%);
	background-image: -webkit-linear-gradient(bottom, rgba(159, 171, 189, 0.02) 0, rgba(255, 255, 255, 0.02) 60%, rgba(255, 255, 255, 0.02) 100%);
	background-image: linear-gradient(to top, rgba(159, 171, 189, 0.02) 0, rgba(255, 255, 255, 0.02) 60%, rgba(255, 255, 255, 0.02) 100%);
	-moz-box-shadow: inset 0 -2px 2px rgba(159, 171, 189, 0.5);
	-webkit-box-shadow: inset 0 -2px 2px rgba(159, 171, 189, 0.5);
	box-shadow: inset 0 -2px 2px rgba(159, 171, 189, 0.5);
	vertical-align: top;
	text-transform: uppercase
}

.tag-item-second {
	color: #00a8ff
}

header {
	position: absolute;
	left: 0;
	top: 0;
	padding: 38px 0 0 210px;
	width: 100%;
	height: auto;
	text-align: left;
	z-index: 5;
	*zoom: 1
}

header:before, header:after {
	display: table;
	content: ""
}

header:after {
	clear: both
}

header h1 {
	position: absolute;
	left: 0;
	top: 38px;
	width: 141px;
	height: 40px
}

header h1 a {
	border: 0;
	font: 0/0 a;
	text-shadow: none;
	color: transparent !important;
	display: block;
	width: 100%;
	height: 100%;
	background: url(../img/logo.png) 0 0 no-repeat
}

header nav {
	width: 100%;
	height: 40px
}

header ul {
	width: 100%;
	height: 40px;
	*zoom: 1
}

header ul:before, header ul:after {
	display: table;
	content: ""
}

header ul:after {
	clear: both
}

header li {
	float: left;
	margin: 0 0 0 40px;
	white-space: nowrap
}

header li:first-child {
	margin-left: 0
}

header li a {
	position: relative;
	display: block;
	font-size: 15px;
	font-size: 1.5rem;
	line-height: 40px;
	font-weight: 500;
	color: #fff;
	opacity: .7;
	filter: alpha(opacity=70);
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out
}

header li a:hover, header li a.act {
	opacity: 1;
	filter: alpha(opacity=100)
}

header li a.act:after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 4px;
	width: 100%;
	height: 2px;
	background: #fff
}

header .about-item {
	margin-left: 60px
}

header .login-item {
	margin-left: 20px
}

header .login-item a {
	padding: 0 12px;
	border: 2px solid #fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font-size: 15px;
	font-size: 1.5rem;
	line-height: 36px
}

header .mobile-menu {
	display: none
}

.header {
	position: relative
}

.header article {
	position: relative;
	padding: 190px 0 0 0;
	text-align: left
}

.header article h1 {
	position: relative;
	margin: 0 0 50px 0;
	padding: 0 0 50px 0;
	font-size: 66px;
	font-size: 6.6rem;
	line-height: 1.2em;
	font-weight: 400;
	color: #fff;
	letter-spacing: -1.5px
}

.header article h1:before {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	max-width: 420px;
	background: #00a8fe
}

.header article .h1-big {
	margin: 0 0 10px 0;
	padding: 0
}

.header article .h1-big:before {
	display: none
}

.header article h2 {
	margin: 0 0 15px 0;
	font-size: 19px;
	font-size: 1.9rem;
	line-height: 1.2em;
	font-weight: 300;
	color: #30b9ff;
	text-transform: uppercase
}

.header article h2 storng {
	font-weight: 700
}

.header article .h2-big {
	margin: 0 0 30px 0;
	font-size: 24px;
	font-size: 2.4rem;
	line-height: 1.2em;
	letter-spacing: -1px
}

.header article p {
	margin: 0 0 40px 0;
	max-width: 670px;
	font-size: 30px;
	font-size: 3rem;
	line-height: 46px;
	font-weight: 300;
	color: #fff
}

.header article .customer-play-video {
	position: absolute;
	right: -80px;
	bottom: 60px;
	padding: 15px 88px 0 0;
	height: 80px;
	font-size: 16px;
	font-size: 1.6rem;
	line-height: 24px;
	color: #fff;
	background: url(../img/customer-play-video-ico.png) right center no-repeat;
	text-align: right
}

.header article .customer-play-video strong {
	font-size: 20px;
	font-size: 2rem;
	line-height: 24px;
	text-transform: uppercase
}

.header article .customer-info {
	padding-right: 0;
	background: none
}

.home-header {
	width: 100%;
	height: 820px;
	background: url(../img/home-bg.jpg) center center no-repeat #172438;
	background-size: cover
}

.home-header article {
	height: 100%
}

.home-header article .btn-big {
	margin-right: 28px
}

.case-study-header {
	width: 100%;
	height: 820px;
	background: url(../img/case-study-bg.jpg) center center no-repeat #172438;
	background-size: cover
}

.case-study-mcpen {
	width: 100%;
	height: 820px;
	background: url(../img/case-study-back-mcpen.jpg) center center no-repeat #172438;
	background-size: cover
}

.case-study-header article {
	height: 100%
}

.case-study-header article .btn-big {
	margin-right: 28px
}

.partners-header {
	width: 100%;
	height: 740px;
	background: url(../img/partners-bg.jpg) center center no-repeat #3d86b2;
	background-size: cover
}

.use-cases-header {
	width: 100%;
	height: 740px;
	background: url(../img/solutions-bg.jpg) center center no-repeat #3d86b2;
	background-size: cover
}

.use-cases-header article {
	padding-top: 175px;
	height: 100%
}

.use-cases-header article h1 {
	margin: 0 0 75px 0
}

.use-cases-header article h1:before {
	max-width: 314px
}

.partners-header article {
	padding-top: 175px;
	height: 100%
}

.partners-header article h1 {
	margin: 0 0 75px 0
}

.partners-header article h1:before {
	max-width: 314px
}

.partners-head-list {
	margin: 0 -25px;
	*zoom: 1
}

.partners-head-list:before, .partners-head-list:after {
	display: table;
	content: ""
}

.partners-head-list:after {
	clear: both
}

.partners-head-list li {
	float: left;
	padding: 0 25px;
	margin-bottom: 50px;
	width: 33.3333%
}

.partners-head-list li i {
	display: block;
	width: 100%;
	height: 62px;
	background-position: 0 0;
	background-repeat: no-repeat
}

.partners-head-list li h2 {
	margin: 0 0 26px 0;
	font-size: 18px;
	font-size: 1.8rem;
	line-height: 22px;
	font-weight: 400;
	color: #fff
}

.partners-head-list li h2 strong {
	font-weight: 700
}

.partners-head-list li p {
	margin: 0;
	font-size: 16px;
	font-size: 1.6rem;
	line-height: 30px;
	font-weight: 400
}

.partners-head-list .ico-first {
	background-image: url(../img/partners-head-ico-first.png)
}

.partners-head-list .ico-second {
	background-image: url(../img/partners-head-ico-second.png)
}

.partners-head-list .ico-third {
	background-image: url(../img/partners-head-ico-third.png)
}

.ico-clevel {
	background-image: url(../img/ico-clevel.png)
}

.ico-marketing {
	background-image: url(../img/ico-marketing.png)
}

.ico-finance {
	background-image: url(../img/ico-finance.png)
}

.ico-sales {
	background-image: url(../img/ico-sales.png)
}

.ico-business {
	background-image: url(../img/ico-business.png)
}

.ico-logistics {
	background-image: url(../img/ico-logistics.png)
}

.ico-saas {
	background-image: url(../img/ico-saas.png)
}

.ico-agency {
	background-image: url(../img/ico-agency.png)
}

.ico-customercare {
	background-image: url(../img/ico-customercare.png)
}


.partners-detail-header {
	width: 100%;
	height: 410px;
	background: url(../img/partners-detail-bg.jpg) center center no-repeat #172438;
	background-size: cover
}

.partners-detail-header article {
	padding-top: 150px;
	height: 100%
}

.contact-header {
	width: 100%;
	height: 410px;
	background: url(../img/contact-bg.jpg) center center no-repeat #172438;
	background-size: cover
}

.solution-header {
	width: 100%;
	height: 740px;
	background: url(../img/solution-bg.jpg) center center no-repeat #172438;
	background-size: cover
}

.contact-header article {
	padding-top: 150px;
	height: 100%
}

.contact-header article h1 {
	margin-bottom: 30px;
	padding-bottom: 25px
}

.contact-header article p {
	font-size: 24px;
	font-size: 2.4rem;
	line-height: 1.3em;
	font-weight: 400;
	text-transform: uppercase
}

.contact-header article p a {
	color: #fff;
	text-decoration: underline
}

.contact-header article p a:hover {
	text-decoration: none
}

footer {
	padding: 60px 0;
	width: 100%;
	height: auto;
	border-top: 2px solid #f0f5fb;
	background: #fff;
	text-align: left
}

footer .pull-right {
	text-align: right
}

footer .pull-right li {
	padding: 0
}

footer ul {
	float: left
}

footer li {
	margin: 0 0 12px 0;
	padding: 0 80px 0 0;
	white-space: nowrap
}

footer a {
	font-size: 16px;
	font-size: 1.6rem;
	line-height: 1.2em;
	font-weight: 500;
	color: #3d3f49;
	opacity: .5;
	filter: alpha(opacity=50)
}

footer a:hover {
	opacity: 1;
	filter: alpha(opacity=100)
}

footer .fb {
	color: #5173b3;
	opacity: 1;
	filter: alpha(opacity=100)
}

footer .tw {
	color: #00a8ff;
	opacity: 1;
	filter: alpha(opacity=100)
}

footer .linked {
	color: #008bef;
	opacity: 1;
	filter: alpha(opacity=100)
}

section {
	width: 100%;
	height: auto;
	background: #fff
}

section p {
	margin: 0 0 20px 0;
	font-size: 16px;
	font-size: 1.6rem;
	line-height: 40px;
	color: #647082
}

.article {
	position: relative;
	padding: 80px 0 90px 0;
	width: 100%;
	height: auto
}

.article .desc {
	width: 50%;
	text-align: left
}

.article .desc-right {
	float: right
}

.article h1 {
	margin: 0 0 40px 0;
	font-size: 28px;
	font-size: 2.8rem;
	line-height: 46px;
	font-weight: 400;
	color: #9fabbd
}

.article .article-img-left, .article .article-img-right {
	position: absolute;
	left: 0;
	top: 50%;
	margin: -200px 0 0 0;
	height: 400px;
	line-height: 400px
}

.article .article-img-left img, .article .article-img-right img {
	vertical-align: middle;
	max-width: 100%;
}

.article .article-img-right {
	left: auto;
	right: -40px;
	width: 50%;
	text-align: center
}

.article-box {
	position: relative;
	padding: 90px 0 105px 0;
	border-top: 2px solid #f0f5fb
}

.article-box:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 80px;
	background: #fff;
	background: -moz-linear-gradient(top, #f9fbfd 0, #fff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f9fbfd), color-stop(100%, #fff));
	background: -webkit-linear-gradient(top, #f9fbfd 0, #fff 100%);
	background: -o-linear-gradient(top, #f9fbfd 0, #fff 100%);
	background: -ms-linear-gradient(top, #f9fbfd 0, #fff 100%);
	background: linear-gradient(to bottom, #f9fbfd 0, #fff 100%)
}

.article-box .in-second {
	text-align: center
}

.article-box .in-second > p {
	margin: 0 auto 20px;
	max-width: 980px
}

.article-box .in-second > .btn {
	margin: 0 10px
}

.article-box h1 {
	margin: 0 0 30px 0;
	font-size: 38px;
	font-size: 3.8rem;
	line-height: 1.2 me;
	font-weight: 300;
	color: #00a8ff
}

.article-box h1 strong {
	font-weight: 500
}

.article-box-case-study {
	padding-bottom: 60px
}

.info-article-box {
	font-size: 0;
	font-size: 0rem;
	line-height: 0
}

.info-article-box > div {
	display: inline-block;
	padding: 0 40px 0 0;
	vertical-align: top;
	text-align: left
}

.info-article-box .item-50 {
	padding: 0 80px 0 0;
	width: 50%
}

.info-article-box .item-30 {
	width: 30%
}

.info-article-box .item-20 {
	width: 20%
}

.info-article-box h2 {
	margin: 0 0 26px 0;
	font-size: 18px;
	font-size: 1.8rem;
	line-height: 22px;
	font-weight: 700;
	color: #00a8ff;
	letter-spacing: -1px;
	text-transform: uppercase
}

.info-article-box p {
	margin: 0 0 10px 0;
	font-size: 16px;
	font-size: 1.6rem;
	line-height: 30px
}

.article-half-list .in {
	text-align: left
}

.article-half-list h1 {
	margin: 0 0 40px 0;
	font-size: 28px;
	font-size: 2.8rem;
	line-height: 46px;
	font-weight: 400;
	color: #9fabbd
}

.article-half-list .desc-half-list {
	padding: 0 0 60px 0;
	font-size: 0;
	font-size: 0rem;
	line-height: 0
}

.article-half-list .desc-half-list p {
	padding: 0 0 0 25px
}

.article-half-list .desc-half-list p:first-child {
	padding: 0 25px 0 0
}

.article-half-list p {
	display: inline-block;
	width: 50%;
	vertical-align: top
}

.case-study-box {
	padding: 65px 0 65px 0;
	border-top: 2px solid #f0f5fb
}

.case-study-box h1 {
	margin: 0 0 30px 0;
	font-size: 30px;
	font-size: 3rem;
	line-height: 1.2em;
	font-weight: 500;
	color: #00a8ff
}

.case-study-box .box-list {
	margin-top: 0
}

.customer-logo-list {
	width: 100%;
	height: 208px;
	border-bottom: 2px solid #f0f5fb
}

.customer-logo-list ul {
	width: 100%;
	height: 100%;
	*zoom: 1
}

.customer-logo-list ul:before, .customer-logo-list ul:after {
	display: table;
	content: ""
}

.customer-logo-list ul:after {
	clear: both
}

.customer-logo-list li {
	float: left;
	width: 25%;
	height: 100%
}

.customer-logo-list a {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	font-size: 20px;
	font-size: 2rem;
	line-height: 206px
}

.customer-logo-list a:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-position: center center;
	background-repeat: no-repeat
}

.customer-logo-list i {
	position: absolute;
	left: 0;
	top: 0;
	border: 0;
	font: 0/0 a;
	text-shadow: none;
	color: transparent !important;
	display: block;
	width: 100%;
	height: 100%;
	font-style: normal;
	background-position: center center;
	background-repeat: no-repeat;
	opacity: 0;
	filter: alpha(opacity=0);
	z-index: 2
}

.customer-logo-list .sap-item:after {
	background-image: url(../img/sap-logo.png)
}

.customer-logo-list .sap-item i {
	background-image: url(../img/sap-logo-act.png)
}

.customer-logo-list .tableau-item:after {
	background-image: url(../img/tableau-logo.png)
}

.customer-logo-list .tableau-item i {
	background-image: url(../img/tableau-logo-act.png)
}

.customer-logo-list .salesforce-item:after {
	background-image: url(../img/salesforce-logo.png)
}

.customer-logo-list .salesforce-item i {
	background-image: url(../img/salesforce-logo-act.png)
}

.customer-logo-list .google-item:after {
	background-image: url(../img/google-logo.png)
}

.customer-logo-list .google-item i {
	background-image: url(../img/google-logo-act.png)
}

.box-list {
	margin: 80px 0 0 0;
	font-size: 0;
	font-size: 0rem;
	line-height: 0;
	*zoom: 1
}

.box-list:before, .box-list:after {
	display: table;
	content: ""
}

.box-list:after {
	clear: both
}

.box-list li {
	display: inline-block;
	padding: 0 10px;
	width: 33.3333%;
	height: auto;
	text-align: center;
	vertical-align: top
}

.box-list .item {
	position: relative;
	padding: 170px 30px 90px 38px;
	width: 100%;
	height: 100%;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #eceef2;
	-webkit-box-shadow: inset 0 -4px 4px rgba(159, 171, 189, 0.2);
	-moz-box-shadow: inset 0 -4px 4px rgba(159, 171, 189, 0.2);
	box-shadow: inset 0 -4px 4px rgba(159, 171, 189, 0.2);
	text-align: left;
	overflow: hidden
}

.box-list .item-second {
	padding-top: 100px
}

.box-list .item-blue h1, .box-list .item-yellow h1 {
	margin: 0 0 5px 0;
	font-weight: 500;
	color: #fff;
	letter-spacing: -1px
}

.box-list .item-blue p, .box-list .item-yellow p {
	font-weight: 400;
	color: #fff
}

.box-list .item-blue {
	background: #00a8ff
}

.box-list .item-blue .tag-item {
	color: #00a8ff
}

.box-list .item-yellow {
	background: #dfa904
}

.box-list .item-yellow .tag-item {
	color: #c99b0d
}

.box-list .item-dark h1 {
	color: #fff
}

.box-list .item-dark p {
	color: #fff
}

.box-list .item-img-1 {
	background: url(../img/item-img-1-bg.jpg) center center no-repeat #0c1c2e;
	background-size: cover
}

.box-list .item-img-2 {
	background: url(../img/item-img-2-bg.jpg) center center no-repeat #0f1c2f;
	background-size: cover
}

.box-list .tags {
	position: absolute;
	left: 0;
	top: 42px;
	padding: 0 30px 0 40px;
	width: 100%;
	height: auto
}

.box-list .ico {
	position: absolute;
	left: 0;
	top: 30px;
	width: 100%;
	height: 115px;
	background-position: 38px center;
	background-repeat: no-repeat
}

.box-list .ico-day-night {
	background-image: url(../img/ico-day-night-bg.png)
}

.box-list .ico-season-sale {
	background-image: url(../img/ico-season-sale-bg.png)
}

.box-list .ico-kmeans {
	background-image: url(../img/ico-kmeans-bg.png)
}

.box-list h1 {
	margin: 0;
	font-size: 26px;
	font-size: 2.6rem;
	line-height: 40px;
	font-weight: 400;
	color: #404650
}

.box-list h2 {
	margin: 0 0 16px 0;
	font-size: 14px;
	font-size: 1.4rem;
	line-height: 1.2em;
	font-weight: 300;
	color: #00a7fe
}

.box-list h2 strong {
	font-weight: 700
}

.box-list p {
	margin: 0 0 18px 0;
	font-size: 14px;
	font-size: 1.4rem;
	line-height: 28px;
	color: #647082
}

.box-list .btn {
	position: absolute;
	left: 38px;
	bottom: 30px
}

.cinemas-box {
	padding: 104px 0 0 0;
	width: 100%;
	height: 520px;
	background: url(../img/cinemas-box-bg.jpg) center center no-repeat #060b16;
	background-size: cover
}

.cinemas-box .cinemas-box-head {
	position: relative;
	float: left;
	padding: 95px 0 0 0
}

.cinemas-box .cinemas-box-head:before {
	content: '';
	position: absolute;
	left: 5px;
	top: 0;
	width: 58px;
	height: 80px;
	background: url(../img/cinemas-box-head-ico.png) 0 0 no-repeat
}

.cinemas-box .cinemas-box-head h1 {
	margin: 0 0 65px 0;
	font-size: 38px;
	font-size: 3.8rem;
	line-height: 46px;
	font-weight: 300;
	color: #fff
}

.cinemas-box ul {
	float: right;
	*zoom: 1
}

.cinemas-box ul:before, .cinemas-box ul:after {
	display: table;
	content: ""
}

.cinemas-box ul:after {
	clear: both
}

.cinemas-box ul li {
	float: left;
	width: 380px;
	margin: 0 0 0 20px;
	text-align: left
}

.cinemas-box ul li:first-child {
	margin-leff: 0
}

.cinemas-box ul a {
	display: block;
	width: 100%;
	height: auto
}

.cinemas-box ul h2 {
	margin: 0 0 6px 0;
	font-size: 26px;
	font-size: 2.6rem;
	line-height: 1.2em;
	font-weight: 400;
	color: #fff
}

.cinemas-box ul h3 {
	font-size: 14px;
	font-size: 1.4rem;
	line-height: 1.2em;
	font-weight: 700;
	color: #00a8ff
}

.cinemas-box ul .img {
	position: relative;
	margin: 0 0 16px 0;
	width: 380px;
	height: 240px
}

.cinemas-box ul .img:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	-moz-box-shadow: inset 0 -4px 4px rgba(159, 171, 189, 0.2), inset 0 0 0 rgba(159, 171, 189, 0.2);
	-webkit-box-shadow: inset 0 -4px 4px rgba(159, 171, 189, 0.2), inset 0 0 0 rgba(159, 171, 189, 0.2);
	box-shadow: inset 0 -4px 4px rgba(159, 171, 189, 0.2), inset 0 0 0 rgba(159, 171, 189, 0.2);
	z-index: 3
}

.cinemas-box ul .img img {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px
}

.webinar-info-box {
	padding: 70px 0 80px 0;
	border-top: 2px solid #f0f5fb
}

.webinar-info-box .desc {
	position: relative;
	float: left;
	padding: 0 0 0 100px;
	min-height: 70px;
	text-align: left
}

.webinar-info-box .desc:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 60px;
	height: 60px;
	background: url(../img/webinar-info-calendar-ico.png) 0 0 no-repeat
}

.webinar-info-box .desc h1 {
	font-size: 34px;
	font-size: 3.4rem;
	line-height: 1.2em;
	font-weight: 400;
	color: #00a8ff
}

.webinar-info-box .desc h2 {
	margin: 0 0 5px 0;
	font-size: 18px;
	font-size: 1.8rem;
	line-height: 1.2em;
	font-weight: 400;
	color: #838d9b;
	text-transform: uppercase
}

.webinar-info-box .action {
	float: right;
	padding: 15px 0 0 0
}

.webinar-info-box .date {
	display: inline-block;
	padding: 10px 35px 0 0;
	font-size: 22px;
	font-size: 2.2rem;
	line-height: 1.2em;
	font-weight: 500;
	color: #272e39;
	vertical-align: top
}

.webinar-info-box .date .hr {
	padding: 0 5px;
	font-weight: 300;
	color: #b4bece
}

.partners-list {
	margin: 60px 0 0 0;
	font-size: 0;
	font-size: 0rem;
	line-height: 0;
	*zoom: 1
}

.partners-list:before, .partners-list:after {
	display: table;
	content: ""
}

.partners-list:after {
	clear: both
}

.partners-list li {
	display: inline-block;
	padding: 0 10px 20px 10px;
	width: 33.3333%;
	height: auto;
	text-align: center;
	vertical-align: top
}

.partners-list article {
	position: relative;
	padding: 36px 30px 90px 38px;
	width: 100%;
	height: 100%;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #eceef2;
	-webkit-box-shadow: inset 0 -4px 4px rgba(159, 171, 189, 0.2);
	-moz-box-shadow: inset 0 -4px 4px rgba(159, 171, 189, 0.2);
	box-shadow: inset 0 -4px 4px rgba(159, 171, 189, 0.2);
	text-align: left;
	overflow: hidden
}

.partners-list h1 {
	margin: 0 0 5px 0;
	font-size: 26px;
	font-size: 2.6rem;
	line-height: 1.2em;
	font-weight: 400;
	color: #404650
}

.partners-list h2 {
	margin: 0 0 16px 0;
	font-size: 14px;
	font-size: 1.4rem;
	line-height: 1.2em;
	font-weight: 700;
	color: #00a7fe
}

.partners-list p {
	margin: 0 0 20px 0;
	font-size: 14px;
	font-size: 1.4rem;
	line-height: 28px;
	color: #647082
}

.partners-list .btn {
	position: absolute;
	left: 38px;
	bottom: 40px
}

.partners-detail-head {
	padding: 60px 0
}

.partners-detail-head ul {
	width: 100%;
	height: auto;
	*zoom: 1
}

.partners-detail-head ul:before, .partners-detail-head ul:after {
	display: table;
	content: ""
}

.partners-detail-head ul:after {
	clear: both
}

.partners-detail-head li {
	float: left;
	text-align: left
}

.partners-detail-head .item-first {
	padding-right: 60px;
	border-right: 0px solid #f0f5fb
}

.partners-detail-head .item-second {
	padding-left: 40px;
	padding-right: 40px
}

.partners-detail-head .item-last {
	float: right;
	text-align: right
}

.partners-detail-head h2 {
	margin: 0;
	font-size: 16px;
	font-size: 1.6rem;
	line-height: 20px;
	color: #a5b1c1;
	text-transform: uppercase;
	letter-spacing: -1px
}

.partners-detail-head p {
	margin: 0 0 10px 0;
	font-size: 44px;
	font-size: 4.4rem;
	line-height: 1.1em;
	font-weight: 400;
	color: #00a8ff
}

.partners-detail-info {
	position: relative;
	border-top: 2px solid #f0f5fb;
	min-height: 350px;
	*zoom: 1
}

.partners-detail-info:before, .partners-detail-info:after {
	display: table;
	content: ""
}

.partners-detail-info:after {
	clear: both
}

.partners-detail-info .pull-left {
	padding: 50px 30px 60px 120px;
	width: 50%;
	height: 100%;
	text-align: left
}

.partners-detail-info .pull-right {
	position: absolute;
	right: 0;
	top: 0;
	width: 50%;
	height: 100%
}

.partners-detail-info h1 {
	margin: 0 0 15px 0;
	font-size: 28px;
	font-size: 2.8rem;
	line-height: 1.2em;
	font-weight: 400;
	color: #9fabbd
}

.partners-detail-info h2 {
	margin: 0 0 5px 0;
	font-size: 20px;
	font-size: 2rem;
	line-height: 1.2em;
	font-weight: 700;
	color: #647082;
	text-transform: uppercase
}

.partners-detail-info p {
	margin: 0 0 15px 0;
	font-size: 16px;
	font-size: 1.6rem;
	line-height: 1.6em;
	font-weight: 400;
	color: #647082
}

.partners-detail-info-second .pull-left {
	float: right
}

.partners-detail-info-second .pull-right {
	right: auto;
	left: 0
}

.partners-detail-rohlik {
	background: url(../img/partners-detail-rohlik.png) center center no-repeat #ffc14c
}

.partners-detail-slevomat {
	background: url(../img/partners-detail-slevomat.png) center center no-repeat #33ccff
}

.partners-detail-logio {
	background: url(../img/partners-detail-logio.png) center center no-repeat #156129
}

.partners-detail-makespace {
	background: url(../img/partners-detail-makespace.png) center center no-repeat #ffffff
}

.partners-detail-mmis {
	background: url(../img/partners-detail-mmis.png) center center no-repeat #00b86e
}

.partners-detail-efa {
	background: url(../img/partners-detail-efa.png) center center no-repeat #ffffff
}

.partners-detail-mcpen {
	background: url(../img/partners-detail-mcpen.png) center center no-repeat #ffffff
}

.partners-detail-bushman {
	background: url(../img/partners-detail-bushman.png) center center no-repeat #2c1913
}

.contact-content .in {
	text-align: left
}

.contact-content article {
	width: 450px;
	float: left;
	padding: 0 0 120px 0
}

.contact-content article h1 {
	margin: 85px 0 15px 0;
	font-size: 26px;
	font-size: 2.6rem;
	line-height: 1.2em;
	font-weight: 400;
	color: #404650
}

.contact-content article h2 {
	margin: 0 0 16px 0;
	font-size: 14px;
	font-size: 1.4rem;
	line-height: 1.2em;
	font-weight: 700;
	color: #00a7fe
}

.contact-content article p {
	margin: 0 0 20px 0;
	font-size: 14px;
	font-size: 1.4rem;
	line-height: 28px;
	color: #647082
}

.contact-content .pull-right {
	float: right;
	padding: 98px 0 50px 0;
	width: 600px
}

.contact-content .contact-form {
	position: relative;
	padding: 30px 40px 36px 40px;
	width: 100%;
	height: auto;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: inset 0 -4px 4px rgba(159, 171, 189, 0.2), inset 0 0 0 1px rgba(159, 171, 189, 0.2);
	-webkit-box-shadow: inset 0 -4px 4px rgba(159, 171, 189, 0.2), inset 0 0 0 1px rgba(159, 171, 189, 0.2);
	box-shadow: inset 0 -4px 4px rgba(159, 171, 189, 0.2), inset 0 0 0 1px rgba(159, 171, 189, 0.2);
	overflow: hidden
}

.contact-content .contact-form:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 6px;
	background: url(../img/contact-form-bg.png) 0 0 repeat-x
}

.contact-content .contact-form h2 {
	margin: 0 0 34px 0;
	font-size: 26px;
	font-size: 2.6rem;
	line-height: 38px;
	color: #00a8ff
}

.contact-content .contact-form .item-input, .contact-content .contact-form .item-textarea {
	position: relative;
	display: block;
	margin: 0 0 10px 0;
	width: 100%;
	height: 50px
}

.contact-content .contact-form .item-input.act span, .contact-content .contact-form .item-textarea.act span {
	display: none
}

.contact-content .contact-form .item-input span, .contact-content .contact-form .item-textarea span {
	position: absolute;
	left: 0;
	top: 0;
	padding: 0 20px;
	width: 100%;
	height: 50px;
	font-size: 14px;
	font-size: 1.4rem;
	line-height: 50px;
	font-weight: 500;
	color: #404650
}

.contact-content .contact-form .item-input input, .contact-content .contact-form .item-textarea input, .contact-content .contact-form .item-input textarea, .contact-content .contact-form .item-textarea textarea {
	padding: 0 20px;
	width: 100%;
	height: 100%;
	border: 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	font-family: 'Gotham Rounded A', 'Gotham Rounded B', 'Arial CE', Arial, sans-serif;
	font-size: 14px;
	font-size: 1.4rem;
	line-height: 50px;
	font-weight: 500;
	color: #404650;
	background-color: #FFF;
	background-image: -moz-linear-gradient(bottom, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0) 40%, rgba(159, 171, 189, 0) 100%);
	background-image: -o-linear-gradient(bottom, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0) 40%, rgba(159, 171, 189, 0) 100%);
	background-image: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0) 40%, rgba(159, 171, 189, 0) 100%);
	background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0) 40%, rgba(159, 171, 189, 0) 100%);
	-moz-box-shadow: inset 0 2px 2px rgba(159, 171, 189, 0.2), inset 0 0 0 1px rgba(159, 171, 189, 0.23);
	-webkit-box-shadow: inset 0 2px 2px rgba(159, 171, 189, 0.2), inset 0 0 0 1px rgba(159, 171, 189, 0.23);
	box-shadow: inset 0 2px 2px rgba(159, 171, 189, 0.2), inset 0 0 0 1px rgba(159, 171, 189, 0.23)
}

.contact-content .contact-form .item-textarea {
	height: 140px
}

.contact-content .contact-form .item-textarea textarea {
	padding: 15px 20px;
	height: 140px;
	font-size: 14px;
	font-size: 1.4rem;
	line-height: 1.4em
}

.contact-content .contact-form p {
	padding: 20px 0 0 0;
	font-size: 14px;
	font-size: 1.4rem;
	line-height: 1.2em;
	font-weight: 500;
	color: #647082
}

.contact-content .contact-form .item-checkbox {
	display: block;
	position: relative;
	margin: 0 0 15px 0;
	font-size: 14px;
	font-size: 1.4rem;
	line-height: 1.3em;
	font-weight: 500;
	color: #647082
}

.contact-content .contact-form .item-checkbox input {
	margin: 0 4px 0 0
}

.contact-content .contact-form button {
	margin: 20px 0 0 0
}

@media screen and (max-width: 1504px) {
	.page {
		padding: 0 50px;
		width: 100%;
		height: auto;
		border-left: 0;
		border-right: 0
	}

	.header article .customer-play-video {
		right: 0
	}
}

@media screen and (max-width: 1360px) {
	.in-second {
		padding-left: 30px;
		padding-right: 30px;
		width: 100%
	}
}

@media screen and (max-width: 1330px) {
	.in {
		padding-left: 30px;
		padding-right: 30px;
		width: 100%
	}

	header {
		padding-left: 160px
	}

	header ul {
		float: right;
		width: auto;
		height: 40px
	}

	header .about-item {
		margin-left: 40px
	}

	.header {
		padding-left: 30px;
		padding-right: 30px;
		width: 100%
	}

	.header .in {
		padding-left: 0;
		padding-right: 0
	}

	.article .article-img-left {
		width: 50%
	}

	.article .article-img-left img {
		max-width: 100%
	}

	.article .article-img-right {
		right: 0
	}

	.article .article-img-right img {
		max-width: 90%
	}

	.partners-detail-head .item-first {
		padding-right: 40px
	}

	.partners-detail-head .item-second {
		padding-left: 40px;
		padding-right: 40px
	}

	.partners-detail-info .pull-left {
		padding-left: 40px
	}
}

@media screen and (max-width: 1220px) {
	header .item-remove-first {
		display: none
	}

	.contact-content article {
		float: none;
		width: 100%
	}

	.contact-content .pull-right {
		float: none;
		padding: 0px 0 50px 0;
		width: 100%;
		text-align: center
	}

	.contact-content .contact-form {
		margin: 0 auto 0;
		width: 600px;
		height: auto;
		text-align: left
	}
}

@media screen and (max-width: 1170px) {
	.cinemas-box ul li {
		width: 280px
	}

	.cinemas-box ul .img {
		width: 100%;
		line-height: 240px
	}

	.cinemas-box ul .img:after {
		display: none
	}

	.cinemas-box ul .img img {
		width: 100%;
		height: auto;
		vertical-align: middle
	}
}

@media screen and (max-width: 1110px) {
	header .item-remove-second {
		display: none
	}

	.header article {
		padding-top: 130px;
		padding-bottom: 40px
	}

	.header article h1 {
		margin: 0 0 30px 0;
		padding: 0 0 30px 0;
		font-size: 50px;
		font-size: 5rem;
		line-height: 1.2em
	}

	.header article h2 {
		margin: 0 0 15px 0;
		font-size: 19px;
		font-size: 1.9rem;
		line-height: 1.2em
	}

	.header article .h2-big {
		font-size: 20px;
		font-size: 2rem;
		line-height: 1.2em
	}

	.header article > p {
		max-width: 60%;
		font-size: 24px;
		font-size: 2.4rem;
		line-height: 1.4em
	}

	.header article .customer-play-video {
		bottom: 20px
	}

	.home-header {
		height: auto
	}

	.home-header article {
		padding-bottom: 130px;
		height: auto
	}

	.case-study-header {
		height: auto
	}

	.case-study-header article {
		padding-bottom: 130px;
		height: auto
	}

	.partners-detail-header {
		height: auto
	}

	.partners-detail-header article {
		height: auto
	}

	.partners-header {
		height: auto
	}

	.partners-header article {
		height: auto
	}

	.box-list .item {
		padding-right: 20px;
		padding-left: 25px;
		padding-bottom: 90px
	}

	.box-list .tags {
		padding: 0 20px 0 25px
	}

	.box-list h1 {
		margin-bottom: 15px;
		font-size: 20px;
		font-size: 2rem;
		line-height: 32px
	}

	.box-list .btn {
		left: 25px;
		bottom: 30px
	}

	.cinemas-box {
		padding: 40px 0;
		height: auto
	}

	.cinemas-box ul h2 {
		font-size: 22px;
		font-size: 2.2rem;
		line-height: 1.2em
	}

	.partners-list article {
		padding: 28px 20px 80px 25px
	}

	.partners-list h1 {
		margin: 0 0 15px 0;
		font-size: 20px;
		font-size: 2rem;
		line-height: 1.2em
	}

	.partners-list .btn {
		left: 25px;
		bottom: 30px
	}

	.webinar-info-box .desc h1 {
		font-size: 28px;
		font-size: 2.8rem;
		line-height: 1.1em
	}

	.webinar-info-box .action {
		position: relative;
		left: 0;
		top: -15px;
		padding: 0;
		text-align: right
	}

	.webinar-info-box .date {
		padding: 0 0 10px 0;
		display: block
	}
}

@media screen and (max-width: 1050px) {
	.page {
		padding: 0
	}

	.article {
		padding: 50px 0
	}

	.article-box {
		padding: 70px 0 50px 0
	}

	.article-box:before {
		width: 100%;
		height: 70px
	}

	.partners-detail-info .pull-left {
		padding-left: 30px
	}

	.webinar-info-box {
		padding: 40px 0 20px 0
	}

	.get-in-touch-btn {
		padding: 60px 0
	}
}

@media screen and (max-width: 900px) {
	.partners-head-list {
		margin: 0 0 0 -25px
	}

	.partners-head-list li {
		padding: 0 0 0 25px
	}

	.article .desc {
		float: none;
		width: 100%
	}

	.article .desc-right {
		float: none
	}

	.article .article-img-left, .article .article-img-right {
		position: relative;
		left: 0;
		top: 0;
		margin: 0 0 40px 0;
		width: 100%;
		height: auto;
		line-height: 1em
	}

	.article .article-img-left {
		text-align: left
	}

	.article .article-img-right {
		width: 100%
	}

	.info-article-box > div {
		padding: 0 30px 0 0
	}

	.info-article-box .item-50 {
		padding: 0 30px 0 0
	}

	.info-article-box .item-20 {
		padding-right: 0
	}

	.customer-logo-list {
		width: 100%;
		height: 140px
	}

	.customer-logo-list .in {
		padding: 0
	}

	.customer-logo-list a:after {
		background-size: 50% auto
	}

	.customer-logo-list i {
		background-size: 50% auto
	}

	.box-list {
		text-align: center
	}

	.box-list li {
		margin: 0 0 20px 0;
		width: 50%;
		height: auto;
		text-align: center
	}

	.box-list h1 {
		font-size: 26px;
		font-size: 2.6rem;
		line-height: 40px
	}

	.partners-list {
		text-align: center
	}

	.partners-list li {
		width: 50%;
		height: auto
	}

	.partners-list h1 {
		font-size: 26px;
		font-size: 2.6rem;
		line-height: 1.2em
	}
}

@media screen and (max-width: 840px) {
	.get-in-touch-btn {
		padding: 30px;
		font-size: 20px;
		font-size: 2rem;
		line-height: 1.3em
	}

	header li {
		margin: 0 0 0 20px
	}

	header .about-item {
		margin-left: 20px
	}

	header .login-item {
		margin-left: 20px
	}

	.cinemas-box .cinemas-box-head {
		position: relative;
		float: none;
		height: 110px;
		padding: 0 0 0 80px
	}

	.cinemas-box .cinemas-box-head:before {
		left: 0
	}

	.cinemas-box .cinemas-box-head h1 {
		float: left;
		margin: 0;
		font-size: 32px;
		font-size: 3.2rem;
		line-height: 40px
	}

	.cinemas-box .cinemas-box-head .btn {
		position: relative;
		top: 15px;
		float: right
	}

	.cinemas-box ul {
		float: none;
		margin: 0 0 0 -30px;
		font-size: 0;
		font-size: 0rem;
		line-height: 0
	}

	.cinemas-box ul li {
		display: inline-block;
		float: none;
		width: 50%;
		margin: 0;
		padding: 0 0 0 30px;
		vertical-align: top
	}

	.cinemas-box ul h2 {
		font-size: 22px;
		font-size: 2.2rem;
		line-height: 1.2em
	}

	.cinemas-box ul h3 {
		font-size: 14px;
		font-size: 1.4rem;
		line-height: 1.2em
	}

	.cinemas-box ul .img {
		height: auto;
		line-height: 1em
	}

	.webinar-info-box {
		padding: 30px 0 30px 0;
		text-align: center
	}

	.webinar-info-box .desc {
		position: relative;
		float: none;
		padding: 80px 0 0 0;
		min-height: none;
		text-align: center
	}

	.webinar-info-box .desc:after {
		left: 50%;
		top: 0;
		margin: 0 0 0 -30px
	}

	.webinar-info-box .action {
		float: none;
		top: 0;
		padding: 30px 0 0 0;
		text-align: center
	}

	.webinar-info-box .date {
		display: block;
		padding: 0 0 20px 0;
		text-align: center
	}

	.partners-detail-head {
		padding: 30px 0
	}

	.partners-detail-head ul {
		font-size: 0;
		font-size: 0rem;
		line-height: 0;
		text-align: left
	}

	.partners-detail-head li {
		float: none;
		width: auto;
		display: inline-block;
		vertical-align: top
	}

	.partners-detail-head .item-first {
		padding-right: 40px;
		border-right: 2px solid #f0f5fb
	}

	.partners-detail-head .item-second {
		padding-left: 40px;
		padding-right: 0
	}

	.partners-detail-head .item-last {
		float: none;
		width: 100%;
		padding: 30px 0 0 0;
		text-align: left
	}

	.partners-detail-info {
		height: auto
	}

	.partners-detail-info .pull-left {
		float: none;
		padding: 40px 30px;
		width: 100%;
		height: auto;
		text-align: left
	}

	.partners-detail-info .pull-right {
		position: relative;
		float: none;
		width: 100%;
		height: 200px
	}
}

@media screen and (max-width: 790px) {
	.article-half-list .desc-half-list p {
		padding: 0
	}

	.article-half-list .desc-half-list p:first-child {
		padding: 0
	}

	.article-half-list p {
		display: block;
		width: 100%
	}

	.info-article-box .item-50 {
		padding: 0 0 50px 0;
		width: 100%
	}

	.info-article-box .item-30 {
		width: 70%
	}

	.info-article-box .item-20 {
		width: 30%
	}
}

@media screen and (max-width: 765px) {
	header nav {
		display: none
	}

	header .mobile-menu {
		display: block;
		float: right
	}

	header .mobile-btn {
		display: inline-block;
		margin: 0 0 0 6px;
		width: 40px;
		height: 40px;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		background: url(../img/mobile-menu-btn.png) center center no-repeat #fff;
		vertical-align: top
	}

	header .login-btn {
		display: inline-block;
		padding: 0 12px;
		border: 2px solid #fff;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		font-size: 15px;
		font-size: 1.5rem;
		line-height: 36px;
		font-weight: 500;
		color: #fff;
		opacity: .7;
		filter: alpha(opacity=70);
		vertical-align: top
	}
}

@media screen and (max-width: 750px) {
	.customer-logo-list {
		width: 100%;
		height: auto;
		font-size: 0;
		font-size: 0rem;
		line-height: 0
	}

	.customer-logo-list li {
		display: inline-block;
		width: 50%;
		height: 100px;
		vertical-align: top
	}

	.customer-logo-list a:after {
		background-size: 100px auto
	}

	.customer-logo-list i {
		background-size: 100px auto
	}

	.partners-head-list {
		margin: 0
	}

	.partners-head-list li {
		float: none;
		padding: 15px 0;
		width: 100%
	}

	.partners-head-list li h2 {
		margin: 0 0 10px 0
	}
}

@media screen and (max-width: 700px) {
	footer {
		padding: 30px 0;
		font-size: 0;
		font-size: 0rem;
		line-height: 0
	}

	footer .pull-right {
		float: none;
		text-align: left
	}

	footer ul {
		display: inline-block;
		width: 50%;
		float: none;
		vertical-align: top
	}

	footer li {
		padding: 0 20px 0 0;
		white-space: normal
	}

	.box-list li {
		padding: 0;
		width: 100%;
		height: auto
	}

	.partners-list li {
		margin: 0 0 20px 0;
		padding: 0;
		width: 100%;
		height: auto
	}

	.contact-content .contact-form {
		width: 100%;
		height: auto
	}
}

@media screen and (max-width: 650px) {
	.header article > p {
		max-width: 100%
	}

	.header article .btn {
		margin-bottom: 20px
	}
}

@media screen and (max-width: 570px) {
	.cinemas-box .cinemas-box-head {
		height: 90px;
		padding: 0
	}

	.cinemas-box .cinemas-box-head:before {
		display: none
	}

	.cinemas-box .cinemas-box-head h1 {
		font-size: 24px;
		font-size: 2.4rem;
		line-height: 30px
	}

	.cinemas-box .cinemas-box-head .btn {
		top: 5px
	}

	.cinemas-box ul {
		margin: 0
	}

	.cinemas-box ul li {
		width: 100%;
		padding: 0 0 30px 0
	}
}

@media screen and (max-width: 530px) {
	.in, .in-second {
		padding-left: 20px;
		padding-right: 20px
	}

	.header {
		padding-left: 20px;
		padding-right: 20px
	}

	.header .in {
		padding-left: 0;
		padding-right: 0
	}

	.info-article-box .item-50 {
		padding: 0 0 50px 0;
		width: 100%
	}

	.info-article-box .item-30 {
		padding: 0 0 50px 0;
		width: 100%
	}

	.info-article-box .item-20 {
		width: 100%
	}
}

@media screen and (max-width: 500px) {
	header {
		padding-left: 120px
	}

	header h1 {
		width: 120px;
		height: 34px
	}

	header h1 a {
		background: url(../img/logo-mobile.png) 0 0 no-repeat
	}

	.partners-detail-head .item-first {
		padding-right: 20px
	}

	.partners-detail-head .item-second {
		padding-left: 20px
	}

	.partners-detail-head h2 {
		font-size: 14px;
		font-size: 1.4rem;
		line-height: 20px
	}

	.partners-detail-head p {
		font-size: 32px;
		font-size: 3.2rem;
		line-height: 1.1em
	}

	.contact-content .contact-form {
		padding: 30px 20px 30px 20px
	}

	.contact-content .contact-form h2 {
		margin: 0 0 24px 0;
		font-size: 20px;
		font-size: 2rem;
		line-height: 1.3em
	}
}

.pull-right {
	float: right
}

.pull-left {
	float: left
}

.hide {
	display: none
}

.show {
	display: block
}

.invisible {
	visibility: hidden
}

.c {
	*zoom: 1
}

.c:before, .c:after {
	display: table;
	content: ""
}

.c:after {
	clear: both
}

.vh {
	border: 0;
	clip: rect(0 0 0 0);
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	height: 1px
}

.vh.focusable:active, .vh.focusable:focus {
	clip: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
	height: auto
}

.log {
	background: rgba(0, 0, 0, 0.8);
	position: fixed;
	top: 10px;
	left: 10px;
	z-index: 1000;
	color: #fff;
	font-weight: bold;
	padding: 10px;
	font-size: 25px
}

.article .article-img-full {
	vertical-align: middle;
	position: relative;
	width: 100%;
	height: auto;
}

.article .article-img-full img {
	max-width: 100%
}

.case-study-h1 {
	background: url(../img/home-bg.jpg) center center no-repeat #172438;
}

ul.normal-list {
	padding-left: 20px;
	list-style-type: disc;
}

ul.normal-list li {
	font-size: 1.6rem;
	line-height: 40px;
	margin-left: 10px;
	padding-left: 10px;
	font-weight: 400;
}

.article blockquote {
	text-align: center;
	font-style: italic;
	padding: 50px;
}

.article blockquote footer {
	font-size: 1.6rem;
	font-style: normal;
	line-height: 40px;
	text-align: center;
	padding: 0;
	margin: 0;
	border: 0;
}

.article blockquote:before {
	content: open-quote;
	font-size: 10rem;
	left: 0;
	position: absolute;
	line-height: 0;
	top: 0;
	color: #f0f5fb;
}

.article blockquote:after {
	content: close-quote;
	font-size: 10rem;
	right: 0;
	position: absolute;
	line-height: 0;
	bottom: 0;
	color: #f0f5fb;
}

.article-box-solution .info-article-box > div:only-child {
	display: block;
}

.article-divider {
	border-top: 2px solid #f0f5fb;
	padding-top: 80px;
}

.article-divider h1 {
	color: #00a8ff;
}

.display-table {
	display: table;
	min-height: 230px;
}

.display-table-cell {
	display: table-cell;
	vertical-align: middle;
}

.partners-head-list.solutions i {
	float: left;
	width: 62px;
}

.partners-head-list.solutions a {
	display: block;
}

.partners-head-list.solutions a h2 {
	margin: 0;
	padding: 12px;
}
