{% extends "layout.html.twig" %}

{% block head %}
		<div class="header partners-detail-header"><div class="in">
			{% include "header.html.twig" %}
			<article>
				<h1 class="h1-big">Ascoria</h1>
				<h2 class="h2-big"><strong>Retail Expert</strong></h2>
				<div class="tags-list">
					<span class="tag-item tag-item-second">#retail</span>
					<span class="tag-item tag-item-second">#salesimprovement</span>
					<span class="tag-item tag-item-second">#consulting</span>
				</div>
			</article>
		</div></div>
{% endblock %}

{% block content %}
		<section>
			<div class="partners-detail-head"><div class="in">
				<ul>
					<li class="item-first">
						<p>Retail skills</p>
						<h2>TOP EXPERTISE of partner</h2>
					</li>
				</ul>
			</div></div>

			<div class="in">
				<h1 class="partners-detail-heading">References</h1>
			</div>

			<div class="partners-detail-info">
				<div class="pull-right partners-detail-mcpen"></div>
				<div class="pull-left">
					<h2>Milan Petr</h2>
					<p>Founder and managing director - VersaCo s.r.o.</p>
					<p>"Using ASCORIA has significantly improved our business and financial decisions ultimately leading to accelerated growth and mitigating the risk associated with the dynamics of our market."</p>
					<a href="{{ path('story', {'story': 'mcpen'}) }}" class="btn btn-white">Show More</a>
				</div>
			</div>
			<div class="partners-detail-info partners-detail-info-second">
				<div class="pull-right partners-detail-bushman"></div>
				<div class="pull-left">
					<h2>Bushman</h2>
					<p>Bushman is a producer and retailer of clothes fit for both travel and free time. Manufacture takes place in Europe and Asia. There are over 30 Bushman shops in the Czech Republic and Slovakia. E-shop is shipping all over Europe.</p>
				</div>
			</div>
			<div class="article-box"><div class="in-second">
				<h1><strong>How can we help you</strong></h1>
				<p>We do professional consultation for retailing and retail reporting. We have got our own BI tool based on Keboola tools platform, which can provide you with fast, automatic and transparent information for your decisions. Connecting diverse data sources like SKUs, offline traffic, sales KPIs and ERP data is just the beginning for us.</p>

				<a href="{{ path('contact') }}" class="btn btn-white">Contact Us</a>
				<a href="http://www.ascoria.cz" class="btn btn-white" target="_blank">Visit Partner Website</a>

				<ul class="box-list">
					<li><article class="item item-blue item-second">
						<div class="tags"><span class="tag-item">CASE STUDY</span></div>
						<h1>Stationary goods chain goes data ...</h1>
						<p>With the help of Keboola partner Ascoria they have created a very retail ...</p>
						<a href="{{ path('story', {'story':'mcpen'}) }}" class="btn btn-white">Read more</a>
					</article></li>
<!--					<li><article class="item item-blue item-second">
						<div class="tags"><span class="tag-item">CASE STUDY</span></div>
						<h1>Data Driven Culture in Slevomat - 6 countries and 1bn revenue ...</h1>
						<p>Lorem ipsum dolor sit amet, consecte adipisicing elit, sed do eiusmod tempo ...</p>
						<a href="" class="btn">View</a>
					</article></li>
					<li><article class="item item-second item-dark item-img-2">
						<div class="tags"><span class="tag-item">TUTORIAL</span></div>
						<h1>Transforming data from Redshift backend to Snowflake.</h1>
						<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu ... </p>
						<a href="" class="btn">View</a>
					</article></li>-->
				</ul>
			</div></div>

			{% include "events.html.twig" %}

			<div class="get-in-touch-btn"><a href="{{ path('contact') }}">Interested in similar solution? Get in touch <i></i></a></div>
		</section>
{% endblock %}
