{% extends "layout.html.twig" %}

{% block head %}
		<div class="header partners-detail-header"><div class="in">
			{% include "header.html.twig" %}
			<article>
				<h1 class="h1-big">BizzTreat</h1>
				<h2 class="h2-big"><strong>The Data Detectives</strong></h2>
				<div class="tags-list">
					<span class="tag-item tag-item-second">#horsesense</span>
					<span class="tag-item tag-item-second">#processmanagement</span>
					<span class="tag-item tag-item-second">#projectmanagement</span>
					<span class="tag-item tag-item-second">#marketingstrategy</span>
					<span class="tag-item tag-item-second">#finance</span>
				</div>
			</article>
		</div></div>
{% endblock %}

{% block content %}
		<section>
			<div class="partners-detail-head"><div class="in">
				<ul>
					<!--<li class="item-first">
						<p>87%</p>
						<h2>Clients<br>score</h2>
					</li>
					<li class="item-second">
						<p>102 GB</p>
						<h2>Daily volume<br>of data</h2>
					</li>-->
					<li class="item-first">
						<p>Logistics & horsesense</p>
						<h2>TOP EXPERTISE of partner</h2>
					</li>
				</ul>
			</div></div>
			<div class="partners-detail-info">
				<div class="pull-right partners-detail-rohlik"></div>
				<div class="pull-left">
					<h1>Reference</h1>
					<h2>Tomáš ČUPR</h2>
					<p>CEO - Rohlik.cz</p>

					<p>"Fast grow-up of our company is possible only throughout strong data driven approach. It helps us to maximize our strenghts and eliminate weeknesses as soon as possible. And BizzTreat.com is very flexible Keboola partner, who is able to deliver simple and smart solutions very quickly."</p>

				</div>
			</div>
			<div class="partners-detail-info partners-detail-info-second">
				<div class="pull-right partners-detail-slevomat"></div>
				<div class="pull-left">
					<h1>Reference</h1>
					<h2>Marie Chytilová</h2>
					<p>CEO - Slevomat.cz</p>

					<p>"We use GoodData as a complex reporting and analytics tool throughout the whole company on daily basis. What I appreciate most is intuitive and simple handling, and tool utilisation in all teams. GoodData helped us integrate data in our company's daily routine. "</p>

					{#<a href="" class="btn btn-white">Show More</a>#}
				</div>
			</div>

			<div class="partners-detail-info">
				<div class="pull-right partners-detail-logio"></div>
				<div class="pull-left">
					<h1>Reference</h1>
					<h2>Tomas Formanek</h2>
					<p>CEO - Logio.cz</p>

					<p>"We chose Keboola (GoodData) with simple reason to integrate data and information from our core systems (CRM, System for planning and project management and from Helpdesk). We can track every customer's project from the very first contact with Logio up to current extensions."</p>

					{#<a href="" class="btn btn-white">Show More</a>#}
				</div>
			</div>

			<div class="article-box"><div class="in-second">
				<h1><strong>How can we help you</strong></h1>
				<p>Throughout investigation of your data, we seek hidden potential for your growth. We are data detectives. We combine more than 15 years of business consulting experience with strong data approach. We bring your fast, simple and practical solutions to your day-to-day questions, how to grow up, where to save money and how to minimise risk.</p>

				<a href="{{ path('contact') }}" class="btn btn-white">Contact Us</a>
				<a href="http://bizztreat.com/" class="btn btn-white" target="_blank">Visit Partner Website</a>


				<ul class="box-list">
					<li><article class="item item-first disabled">
						<div class="tags"><span class="tag-item">WIKI</span></div>
						<h1>This partner has not shared anything yet ...</h1>
					</article></li>
<!--					<li><article class="item item-blue item-second">
						<div class="tags"><span class="tag-item">CASE STUDY</span></div>
						<h1>Data Driven Culture in Slevomat - 6 countries and 1bn revenue ...</h1>
						<p>Lorem ipsum dolor sit amet, consecte adipisicing elit, sed do eiusmod tempo ...</p>
						<a href="" class="btn">View</a>
					</article></li>-->
					{#<li><article class="item item-second item-dark item-img-2">#}
						{#<div class="tags"><span class="tag-item">TUTORIAL</span></div>#}
						{#<h1>Transforming data from Redshift backend to Snowflake.</h1>#}
						{#<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu ... </p>#}
						{#<a href="" class="btn">View</a>#}
					{#</article></li>#}
				</ul>
			</div></div>

			{% include "events.html.twig" %}

			<div class="get-in-touch-btn"><a href="{{ path('contact') }}">Interested in similar solution? Get in touch <i></i></a></div>
		</section>
{% endblock %}
