{% extends "layout.html.twig" %}

{% block title %}Keboola Prague | Partners | {% endblock %}

{% block head %}
	{% include "header.html.twig" %}
	<div class="header partners-detail-header"><div class="in">
		<article>
			<h1 class="h1-big">Keboola Prague</h1>
			<h2 class="h2-big"><strong>Work with Data, Make Money</strong></h2>
			<div class="tags-list">
				<span class="tag-item tag-item-second">#dataproducts</span>
				<span class="tag-item tag-item-second">#datadriven</span>
				<span class="tag-item tag-item-second">#training</span>
			</div>
		</article>
	</div></div>
{% endblock %}

{% block content %}
		<section>
			<div class="partners-detail-head"><div class="in">
				<ul>
					<li class="item-first">
						<p>Data Driven Products</p>
						<h2>Keboola Europe, Middle East and Africa implementation team</h2>
					</li>

					{#<li class="item-third">#}
						{#<p>Business Data Infrastructure</p>#}
					{#</li>#}
				</ul>
			</div></div>


			<div class="partners-detail-description">
				<div class="in">
					<p>At Keboola Prague, we strongly believe that everyone should have access to the information they needs to get work done.This approach has already proven successful in a variety of industries ranging from Finance to Heavy industries.</p>
					<p>Furthermore we believe in getting answers, not buying features. Which target groups should you focus on? Who are your customers that are likely to churn? What products are bringing you profit? It doesn’t matter to us what questions you are asking, what we care about getting you the right answer as fast as possible. We work with you to build a solution from the ground up and then encourage you to learn the tooling yourself so that you can find your own solutions.  </p>
				</div>
			</div>


			<div class="in">
				<h1 class="partners-detail-heading">Reference</h1>
			</div>

			<div class="partners-detail-info">
				<div class="pull-right partners-detail-h1"></div>
				<div class="pull-left">
					<h2>Tomas Vyskocil</h2>
					<p>H1.cz - head of SEO department</p>
					<p>“Thank to GoodData we eliminated 95% of all Excel sheets we’ve been Generating for our management”</p>
					<a href="{{ path('story', {'story': 'h1'}) }}" class="btn btn-white">Show More</a>

				</div>
			</div>

			<div class="partners-detail-info partners-detail-info-second">
				<div class="pull-right partners-detail-seznam"></div>
				<div class="pull-left">
					<h2>David Kroupa</h2>
					<p>Seznam.cz - senior sales analytic</p>
					<p>“Keboola Connection is essential for us to quickly push large amounts of data from different sources and visualize in GoodData. Our sales managers then use the data to manage their teams while salespeople have all the information they need about our clients ready before the sales meeting.”</p>
				</div>
			</div>


			<div class="partners-detail-info">
				<div class="pull-right partners-detail-gorila"></div>
				<div class="pull-left">
					<h2>Roman Novacek</h2>
					<p>Gorila Mobil</p>
					<p>“We based our mobile brand on the supposition that paid calls are dead and people will want mainly data. When we saw real usage data the first time we realised that  calls make 95% of our income and that our brand has to change.”</p>
					<a href="http://blog.keboola.com/gorila-mobil-data-driven-business" target="_blank" class="btn btn-white">Show More</a>
				</div>
			</div>




			<div class="article-box"><div class="in-second">
				<h1><strong>How can we help you</strong></h1>
				<p> We know your time is precious, that is why most of our clients see their first dashboard within days of implementation start. With our cloud-based technology we don’t have to waste time with costly on-premise installations and instead can concentrate on securely delivering you the data you need right now.</p>

				<a href="{{ path('contact') }}" class="btn btn-white">Contact Us</a>

				<ul class="box-list">
					<li><article class="item item-second">
						<div class="tags"><span class="tag-item">WIKI</span></div>
						<h1>Prevent reports with metric level TOP() filters from breaking when adding another metric</h1>
						<a class="btn btn-white" href="https://sites.google.com/a/keboola.com/wiki/home/keboola-connection/user-space/gooddata/pure-gooddata-hints/prevent-reports-with-metric-level-top-filters-from-breaking-when-adding-another-metric">Read more</a>
					</article></li>
					<li><article class="item item-yellow item-second">
						<div class="tags"><span class="tag-item">CASE STUDY</span></div>
						<h1>KPIs and client reporting at digital agency - H1.cz</h1>
						<p>H1.cz has improved operations and budgeting</p>
						<a href="{{ path('story', {'story': 'h1'}) }}" class="btn">View</a>
					</article></li>
				</ul>
			</div></div>

			{% include "events.html.twig" %}

			<div class="get-in-touch-btn"><a href="{{ path('contact') }}">Interested in similar solution? Get in touch <i></i></a></div>
		</section>
{% endblock %}
