{% extends "layout.html.twig" %}

{% block title %}StartupMetrics | Partners | {% endblock %}

{% block head %}
		<div class="header partners-detail-header"><div class="in">
			{% include "header.html.twig" %}
			<article>
				<h1 class="h1-big">StartupMetrics</h1>
				<h2 class="h2-big"><strong>Your partner on the path to data-driven decisions
				</strong></h2>
				<div class="tags-list">
					<span class="tag-item tag-item-second">#datamanagement</span>
					<span class="tag-item tag-item-second">#pharma</span>
					<span class="tag-item tag-item-second">#productdevelopment</span>
					<span class="tag-item tag-item-second">#strategicinsight</span>
				</div>
			</article>
		</div></div>
{% endblock %}

{% block content %}
		<section>
			<div class="partners-detail-head"><div class="in">
				<ul>
					<!--<li class="item-first">
						<p>87%</p>
						<h2>Clients<br>score</h2>
					</li>
					<li class="item-second">
						<p>102 GB</p>
						<h2>Daily volume<br>of data</h2>
					</li>-->
					<li class="item-first">
						<p>Metrics driven</p>
						<h2>TOP EXPERTISE of partner</h2>
					</li>
				</ul>
			</div></div>

			<div class="in">
				<h1 class="partners-detail-heading">References</h1>
			</div>


			<div class="partners-detail-info">
				<div class="pull-right partners-detail-efa"></div>
				<div class="pull-left">
					<div class="display-table">
						<div class="display-table-cell">
							<h2>Endometriosis Foundation of America</h2>
							<p>Theresa Davidson - Managing Director</p>


							<p>	"StartupMetrics has increased our abilities to utilize and manipulate our donor and constituent database tremendously. We have had a wonderful collaborative relationship with the StartupMetrics staff, and their ability to assess and anticipate our data needs has far exceeded my expectations."</p>

							{#<a href="" class="btn btn-white">Show More</a>#}




						</div>
					</div>
				</div>
			</div>



			<div class="partners-detail-info partners-detail-info-second">
				<div class="pull-right partners-detail-mmis"></div>
				<div class="pull-left">
					<div class="display-table">
						<div class="display-table-cell">
							<h2>MMIS, Inc.</h2>
							<p>Michaeline Daboul - President</p>
						</div>
					</div>
				</div>
			</div>



			<div class="partners-detail-info">
				<div class="pull-right partners-detail-makespace"></div>
				<div class="pull-left">
					<div class="display-table">
						<div class="display-table-cell">
							<h2>Makespace</h2>
							<p>Sam Rosen - CEO</p>
						</div>
					</div>
				</div>
			</div>

			<div class="article-box"><div class="in-second">
				<h1><strong>How can we help you</strong></h1>
				<p>As a group of people who once worked for big consulting firms, we know that the super-sized companies' approach to your startup's growth can seem rigid and mass produced. We know the full range of your growing startup's needs and have the flexibility to provide solutions that can fit any budget. We help your startup get investor-ready and then we stick around to accelerate growth by providing the tools to make proactive, data-driven decisions.
				</p>

				<a href="{{ path('contact') }}" class="btn btn-white">Contact Us</a>
				<a href="" class="btn btn-white">Visit Partner Website</a>


				<ul class="box-list">
					<li><article class="item item-second disabled">
							<div class="tags"><span class="tag-item">WIKI</span></div>
							<h1>This partner has not shared anything yet ...</h1>
						</article></li>
<!--					<li><article class="item item-second">
						<div class="tags"><span class="tag-item">WIKI</span></div>
						<h1>Rapid deployment of the industry’s most advanced analytics ...</h1>
						<p>Lorem ipsum dolor sit amet, consecte adipisicing elit, sed do eiusmod tempo ...</p>
						<a href="" class="btn btn-white">Read more</a>
					</article></li>
					<li><article class="item item-blue item-second">
						<div class="tags"><span class="tag-item">CASE STUDY</span></div>
						<h1>Data Driven Culture in Slevomat - 6 countries and 1bn revenue ...</h1>
						<p>Lorem ipsum dolor sit amet, consecte adipisicing elit, sed do eiusmod tempo ...</p>
						<a href="" class="btn">View</a>
					</article></li>
					<li><article class="item item-second item-dark item-img-2">
						<div class="tags"><span class="tag-item">TUTORIAL</span></div>
						<h1>Transforming data from Redshift backend to Snowflake.</h1>
						<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu ... </p>
						<a href="" class="btn">View</a>
					</article></li>
-->
				</ul>
			</div></div>

			{% include "events.html.twig" %}

			<div class="get-in-touch-btn"><a href="{{ path('contact') }}">Interested in similar solution? Get in touch <i></i></a></div>
		</section>
{% endblock %}
