{% extends "layout.html.twig" %}

{% block title %}Data Analyst | Prague | Jobs | {% endblock %}

{% block head %}
	{% include "header.html.twig" %}
	<div class="header partners-detail-header"><div class="in">
		<article>
			<h1 class="h1-big">Data Analyst - Bali</h1>
			<h2 class="h2-big"><strong>Keboola APAC</strong></h2>
			<div class="tags-list">
				<span class="tag-item tag-item-second">#Datageek</span>
				<span class="tag-item tag-item-second">#CommonSense</span>
				<span class="tag-item tag-item-second">#Surf</span>

			</div>
		</article>
	</div></div>
{% endblock %}

{% block content %}
	<section>

		<article class="article">
			<div class="in">
				<p class="alert alert-danger">This position is no longer available</p>
				<div class="article-img-right">
					<a href="/img/jobs/keboola-1.jpg" data-lightbox="life-in-keboola" data-title="Life in Keboola">
						<img src="/img/jobs/singapore.jpg" alt="Life in Keboola">
					</a>
				</div>
				<div class="desc">
					<h1>Keboola is hiring to conquer Asia & Pacific! </h1>
					<p>If you missed the social media boat and are looking for the next big thing hear this:
					We are looking for aspiring data geek and who understands the difference between  ETL and LOL, BI and BFF, SQL and OMG.</p>
				</div>
			</div>
		</article>

		<article class="article">
			<div class="in">
				<div class="article-img-right">
					<a href="/img/jobs/keboola-4.png" data-lightbox="life-in-keboola" data-title="Life in Keboola">
						<img src="/img/jobs/keboola-4.png" alt="Life in Keboola">
					</a>
				</div>
				<div class="desc">
					<p><strong>If you are our data girl or guy, you are:</strong></p>

					<ul class="normal-list">
						<li>naturally fluent in English</li>
						<li>street smart, you learn fast and have common sense</li>
						<li>responsible and keen on taking ownership of BI projects from brief to delivery </li>
						<li>want to grow professionally and don’t require baby sitting</li>
						<li>business savvy, comfortable around clients and generally get things done</li>
						<li>enjoy traveling as sometimes you would need to see our clients in Australia or Hong Kong and working for distributed company is in your DNA</li>
						<li>looking for a life time opportunity and not a company car or promotion every 9 months</li>
					</ul>
				</div>
			</div>
		</article>

		<article class="article">
			<div class="in">
				<div class="article-img-right">
					<a href="/img/jobs/keboola-3.png" data-lightbox="life-in-keboola" data-title="Life in Keboola">
						<img src="/img/jobs/keboola-3.png" alt="Life in Keboola">
					</a>
				</div>
				<div class="desc">
					<p><strong>About us? </strong></p>
					<ul class="normal-list">
						<li>We are based in Singapore but our proposition is for you to work from our Keboola surf house in Bali (take your time and read this again, yes Bali)</li>
						<li>We do things differently and we have very high expectations</li>
						<li>We are serious about making our clients and partners succesful and in the same time  provide alternative to standard corporate life</li>
						<li>Keboola Space Program</li>
					</ul>
				</div>
			</div>
		</article>

	<article class="article">
			<div class="in">
				<div class="article-img-right">
					<a href="/img/jobs/keboola-1.jpg" data-lightbox="life-in-keboola" data-title="Life in Keboola">
						<img src="/img/jobs/keboola-1.jpg" alt="Life in Keboola">
					</a>
				</div>
				<div class="desc">
					<h1>How is this going to go down?</h1>
					<p>
					By mid of June we will choose top candidates and you will spend three weeks in a virtual data boot camp led by our one and only Petr Simecek
					in early July you do final assignment and spend some time with us in Prague to figure out if we are great match and by beginning of August you are joining us in <STRONG>Bali!</STRONG> </p>
				</div>
			</div>
		</article>

		<article class="article">
			<div class="in">
				<div class="article-img-right">
					<a href="/img/jobs/keboola-2.jpg" data-lightbox="life-in-keboola" data-title="Life in Keboola">
						<img src="/img/jobs/keboola-2.jpg" alt="Life in Keboola">
					</a>
				</div>
				<div class="desc">
					<p>If you are up to it you will let us know at <STRONG>marushka@keboola.com </strong> subject: #dreamjob</p>

					<br><br><br><br><br>
					<br><br><br><br><br>
				</div>
			</div>
		</article>

		<div class="get-in-touch-btn"><a href="{{ path('contact') }}">Interested? Get in touch <i></i></a></div>
	</section>
{% endblock %}
