{% extends "layout.html.twig" %}

{% block title %}Sales | Vancouver | Jobs | {% endblock %}

{% block head %}
	<div class="header partners-detail-header"><div class="in">
			{% include "header.html.twig" %}
			<article>
				<h1 class="h1-big">Sales Position</h1>
				<h2 class="h2-big"><strong>Keboola Vancouver</strong></h2>
				<div class="tags-list">
					<span class="tag-item tag-item-second">#Street Smarts</span>
					<span class="tag-item tag-item-second">#KREATIVITY</span>
					<span class="tag-item tag-item-second">#KURISOSITY</span>
					<span class="tag-item tag-item-second">#Drive</span>
					<span class="tag-item tag-item-second">#Sales</span>

				</div>
			</article>
		</div></div>
{% endblock %}

{% block content %}
	<section>

		<article class="article">
			<div class="in">
				<div class="article-img-right">
					<a href="/img/jobs/keboola-1.jpg" data-lightbox="life-in-keboola" data-title="Life in Keboola">
						<img src="/img/jobs/keboola-1.jpg" alt="Life in Keboola">
					</a>
				</div>
				<div class="desc">
					<h1>Sales</h1>
					<p>We are looking for a dynamic self-starter who views helping others as second nature. You must be able to readily supply data solutions that empower our clients to improve their businesses. In your past 3-5 years of sales experience you have figured out what works and what doesn’t and can bring this expertise to revolutionize our sales process (Viva la data!!!!).</p>

				</div>
			</div>
		</article>

		<article class="article">
			<div class="in">
				<div class="article-img-right">
					<a href="/img/jobs/keboola-4.png" data-lightbox="life-in-keboola" data-title="Life in Keboola">
						<img src="/img/jobs/keboola-4.png" alt="Life in Keboola">
					</a>
				</div>
				<div class="desc">
					<p><strong>What you should know about us:</strong></p>

					<ul class="normal-list">
						<li>We love data. We provide tooling, consulting, and training products based on platforms like GoodData and Tableau to clients looking to solve real business problems</a></li>
						<li>We are all about learning, a common sense approach, and having no fear of failure</li>
						<li>We are entrepreneurial.This means lots to do and LOTS of growth opportunity</li>
					</ul>
				</div>
			</div>
		</article>

		<article class="article">
			<div class="in">
				<div class="article-img-right">
					<a href="/img/jobs/keboola-3.png" data-lightbox="life-in-keboola" data-title="Life in Keboola">
						<img src="/img/jobs/keboola-3.png" alt="Life in Keboola">
					</a>
				</div>
				<div class="desc">
					<p><strong>What we look for in you:</strong></p>
					<ul class="normal-list">
						<li>You have 3-5 years of verifiable B2B sales experience in the tech industry</li>
						<li>You have an understanding of BI tools and can translate tech to any business person </li>
						<li>You have an undeniable track record of success fueled by the motivation to never quit</li>
						<li>You can identify the decision makers and key stakeholder within an organization and customize the right message for the right people at the right time</li>
						<li>You are have a magnetic persona that attracts other people</li>
						<li>You posses the necessary business development skills including cold calling, email marketing, social listening and the ability to network effectively</li>
						<li>You build strong relationships. You work well with existing clients to further their aspirations</li>
						<li>You are proactive in addressing client need and know what they want before they do</li>
						<li>You have strong presentation skills and connecting with people in person and on the phone is your idea of a good time</li>
						<li>You are a strategic thinker. You see this opportunity as your big break, you know what your target market is and you are ready to build a scalable sales organization when the time comes</li>
					</ul>
				</div>
			</div>
		</article>

		<article class="article">
			<div class="in">
				<div class="article-img-right">
					<a href="/img/jobs/keboola-2.jpg" data-lightbox="life-in-keboola" data-title="Life in Keboola">
						<img src="/img/jobs/keboola-2.jpg" alt="Life in Keboola">
					</a>
				</div>
				<div class="desc">
					<p><strong>How we measure your success:</strong></p>

					<ul class="normal-list">
						<li>You attract and retain at least 20 new small, 10 medium, and 2 large scale clients within your first year of work with us</li>
						<li>You increase the subsequent net revenue for the business by 30-40%</li>
						<li>You do all of this while keeping your customers super happy!!! No BS!!!</li>
					</ul>

					<br><br><br><br><br>
					<br><br><br><br><br>
				</div>
			</div>
		</article>

		

		<div class="get-in-touch-btn"><a href="mailto:hr.vancouver@keboola.com">Interested? Get in touch <i></i></a></div>
	</section>
{% endblock %}
