{% extends "layout.html.twig" %}

{% block title %}UX Designer | Vancouver | Jobs | {% endblock %}

{% block head %}
	<div class="header partners-detail-header"><div class="in">
			{% include "header.html.twig" %}
			<article>
				<h1 class="h1-big">UX Designer</h1>
				<h2 class="h2-big"><strong>Keboola Vancouver</strong></h2>
				<div class="tags-list">
					<span class="tag-item tag-item-second">#Knowledge</span>
					<span class="tag-item tag-item-second">#KREATIVITY</span>
					<span class="tag-item tag-item-second">#KURISOSITY</span>
				</div>
			</article>
		</div></div>
{% endblock %}

{% block content %}
	<section>

		<article class="article">
			<div class="in">
				<div class="article-img-right">
					<a href="/img/jobs/keboola-1.jpg" data-lightbox="life-in-keboola" data-title="Life in Keboola">
						<img src="/img/jobs/keboola-1.jpg" alt="Life in Keboola">
					</a>
				</div>
				<div class="desc">
					<h1>UX Designer</h1>
					<p>As self proclaimed “data geeks” we admittedly love all things data. Our focus is on using this data to help our clients better understand their businesses and develop solutions that fit their unique needs.</p>
					<p>We are constantly learning new ways to use data and even newer ways to deliver it to our clients. We want to continue this by expanding our training team with a contract UX Designer. This 3 month position (with the potential to grow into a full time role), will be tasked with translating our vision for web based learning into actionable, well crafted design details.</p>
				</div>
			</div>
		</article>

		<article class="article">
			<div class="in">
				<div class="article-img-right">
					<a href="/img/jobs/keboola-4.png" data-lightbox="life-in-keboola" data-title="Life in Keboola">
						<img src="/img/jobs/keboola-4.png" alt="Life in Keboola">
					</a>
				</div>
				<div class="desc">
					<p><strong>What you will be doing:</strong></p>

					<ul class="normal-list">
						<li>Creating a wireframe for our learning website and courses: <a href="http://academy.keboola.com" target="_blank">Keboola Academy</a></li>
						<li>Developing the visual elements for the website and courses</li>
						<li>Devising the intended functionality of website and course components</li>
						<li>Collaborating on the design of user logins and other interfaces</li>
						<li>Branding course material such as learning guides and course completion tokens</li>
						<li>Consulting on new learning tools that can be used to enhance the courses</li>
					</ul>
				</div>
			</div>
		</article>

		<article class="article">
			<div class="in">
				<div class="article-img-right">
					<a href="/img/jobs/keboola-3.png" data-lightbox="life-in-keboola" data-title="Life in Keboola">
						<img src="/img/jobs/keboola-3.png" alt="Life in Keboola">
					</a>
				</div>
				<div class="desc">
					<p><strong>What we look for in you:</strong></p>
					<ul class="normal-list">
						<li>Strongly advocates the end-users and is able to interpret and empathize with their wants and needs</li>
						<li>Knows how to use best UX practices and responsive design to conceptualize the tools needed to optimize the learning journey</li>
						<li>Designs simple, intuitive and useful solutions to complex user flows</li>
						<li>Collaborates with content authors to integrate their ideas with design requirements</li>
						<li>Creates concepts, wire frames, and mock-ups refining ideas at all stages in the process</li>
						<li>Prioritizes multiple task and deliver components quickly and on time</li>
						<li>Exhibits an inherent desire to work in an innovative, flexible and team-oriented environment while still able to work independently and meet objectives successfully</li>
						<li>Utilizes strategic thinking and advanced problem solving skills to generate creative solutions</li>
					</ul>
				</div>
			</div>
		</article>

		<article class="article">
			<div class="in">
				<div class="article-img-right">
					<a href="/img/jobs/keboola-2.jpg" data-lightbox="life-in-keboola" data-title="Life in Keboola">
						<img src="/img/jobs/keboola-2.jpg" alt="Life in Keboola">
					</a>
				</div>
				<div class="desc">
					<p><strong>The skill and experience you need to have:</strong></p>

					<ul class="normal-list">
						<li>Advanced Adobe Photoshop and/or Illustrator skills</li>
						<li>Basic understanding and practical experience with some of the following HTML/CSS, or JavaScript</li>
						<li>Education/experience in Design, UI/UX</li>
						<li>Experience designing user functional elements or learning material</li>
						<li>Experience working as a contractor or on cross-functional teams</li>
						<li>Knowledge of the Gooddata platform is an asset</li>
						<li>A strong web/visual/learning design portfolio</li>
					</ul>
					<br><br><br><br><br>
					<br><br><br><br><br>
				</div>
			</div>
		</article>

		<div class="get-in-touch-btn"><a href="mailto:hr.vancouver@keboola.com">Interested? Get in touch <i></i></a></div>
	</section>
{% endblock %}
