{% extends "layout.html.twig" %}

{% block title %}Data Analyst| Vancouver | Jobs | {% endblock %}

{% block head %}
	{% include "header.html.twig" %}
	<div class="header partners-detail-header"><div class="in">
		<article>
			<h1 class="h1-big">Data Analyst</h1>
			<h2 class="h2-big"><strong>Keboola Vancouver</strong></h2>
			<div class="tags-list">
				<span class="tag-item tag-item-second">#datageek</span>
				<span class="tag-item tag-item-second">#Keboola</span>
				<span class="tag-item tag-item-second">#Vancouver</span>
			</div>
		</article>
	</div></div>
{% endblock %}

{% block content %}
	<section>

		<article class="article">
			<div class="in">
				<div class="article-img-right">
					<a href="/img/jobs/keboola-1.jpg" data-lightbox="life-in-keboola" data-title="Life in Keboola">
						<img src="/img/jobs/keboola-1.jpg" alt="Life in Keboola">
					</a>
				</div>
				<div class="desc">
					<h1>Business Intelligence Analyst/Data Consultant</h1>
					<p>Simply put, we see value in data. Our goal is to use business intelligence to uncover the wealth hidden in data and show our clients how to make money from it. To do this, we take a pretty practical approach. We find clients we like, understand their business, and then use that understanding to take the data we get our hands on and solve their problem. <BR>

					We are therefore looking for not only a data enthusiast but a strategic business thinker who has a passion for helping others. This full-time role will be joining the rest of our consulting team as they discover, dissect (seriously we really aren’t that nerdy), extrapolate, understand and visualize data to help our clients succeed.
					</p>
				</div>
			</div>
		</article>

		<article class="article">
			<div class="in">
				<div class="article-img-right">
					<a href="/img/jobs/keboola-4.png" data-lightbox="life-in-keboola" data-title="Life in Keboola">
						<img src="/img/jobs/keboola-4.png" alt="Life in Keboola">
					</a>
				</div>
				<div class="desc">
					<p><strong>What you will be doing:</strong></p>

					<ul class="normal-list">
						<li>know how to use their brain and master the art of common sense</li>
						<li>are excited to learn new things</li>
						<li>have positive attitude towards technology</li>
						<li>are out-of-the-box thinkers</li>
						<li>speak english fluently and confidently enough to hold on-line meetings with 4 people from the USA or elsewhere</li>
						<li>don’t mind to work odd hours required by clientele from timezones around the world</li>
						<li>will fit into our culturally diverse yet very family-like team</li>
					</ul>
				</div>
			</div>
		</article>

		<article class="article">
			<div class="in">
				<div class="article-img-right">
					<a href="/img/jobs/keboola-3.png" data-lightbox="life-in-keboola" data-title="Life in Keboola">
						<img src="/img/jobs/keboola-3.png" alt="Life in Keboola">
					</a>
				</div>
				<div class="desc">
					<p><strong>We offer:</strong></p>
					<ul class="normal-list">
						<li>work with cutting edge technologies</li>
						<li>opportunity to sink your teeth into problems of businesses of all types and sizes</li>
						<li>the experience of working completely in the cloud</li>
						<li>hub office surrounded by others on the same wavelength</li>
						<li>Keboola Space Program</li>
					</ul>
				</div>
			</div>
		</article>

		<article class="article">
			<div class="in">
				<div class="article-img-right">
					<a href="/img/jobs/keboola-2.jpg" data-lightbox="life-in-keboola" data-title="Life in Keboola">
						<img src="/img/jobs/keboola-2.jpg" alt="Life in Keboola">
					</a>
				</div>
				<div class="desc">
					<p><strong>We ignore:</strong></p>
					<ul class="normal-list">
						<li>formal education on any level, including MBAs</li>
						<li>business cards</li>
						<li>formal hierarchy</li>
						<li>salary histories</li>
					</ul>
					<br><br><br><br><br>
					<br><br><br><br><br>
				</div>
			</div>
		</article>

		<div class="get-in-touch-btn"><a href="mailto:hr.vancouver@keboola.com">Interested? Get in touch <i></i></a></div>
	</section>
{% endblock %}
