{% extends "layout.html.twig" %}

{% block head %}
	<div class="header partners-detail-header"><div class="in">
			{% include "header.html.twig" %}
			<article>
				<h1 class="h1-big">Data Analyst</h1>
				<h2 class="h2-big"><strong>Keboola Vancouver</strong></h2>
				<div class="tags-list">
					<span class="tag-item tag-item-second">#Knowledge</span>
					<span class="tag-item tag-item-second">#KREATIVITY</span>
					<span class="tag-item tag-item-second">#KURISOSITY</span>
				</div>
			</article>
		</div></div>
{% endblock %}

{% block content %}
	<section>

		<article class="article">
			<div class="in">
				<div class="article-img-right">
					<a href="/img/jobs/keboola-1.jpg" data-lightbox="life-in-keboola" data-title="Life in Keboola">
						<img src="/img/jobs/keboola-1.jpg" alt="Life in Keboola">
					</a>
				</div>
				<div class="desc">
					<h1>KNOWLEDGE… KREATIVITY… KURISOSITY… KEBOOLA.</h1>
					<p>No, we don’t need to use spell-check. We’re not fans of pre-established parameters to define where we can go.
						Keboola is a data and business analytics services & solutions company with its own “tooling department”. We ask the right questions and then use the data sources you know and love (Facebook, Google, Twitter, Salesforce etc.) to provide true insights into the businesses of our clients. With a reach that now spans four continents and an uncountable amount of time zones, our clients are diverse and their issues even more unique. This means that as self proclaimed “data geeks”, we get to spend our time doing what we love best - challenging our knowledge, kreativity, and kuriosity to kreate extraordinary solutions.</p>
				</div>
			</div>
		</article>

		<article class="article">
			<div class="in">
				<div class="article-img-right">
					<a href="/img/jobs/keboola-4.png" data-lightbox="life-in-keboola" data-title="Life in Keboola">
						<img src="/img/jobs/keboola-4.png" alt="Life in Keboola">
					</a>
				</div>
				<div class="desc">
					<p><strong>We seek out people who:</strong></p>

					<ul class="normal-list">
						<li>know how to use their brain and master the art of common sense</li>
						<li>are excited to learn new things</li>
						<li>have positive attitude towards technology</li>
						<li>are out-of-the-box thinkers</li>
						<li>speak english fluently and confidently enough to hold on-line meetings with 4 people from the USA or elsewhere</li>
						<li>don’t mind to work odd hours required by clientele from timezones around the world</li>
						<li>will fit into our culturally diverse yet very family-like team</li>
					</ul>
				</div>
			</div>
		</article>

		<article class="article">
			<div class="in">
				<div class="article-img-right">
					<a href="/img/jobs/keboola-3.png" data-lightbox="life-in-keboola" data-title="Life in Keboola">
						<img src="/img/jobs/keboola-3.png" alt="Life in Keboola">
					</a>
				</div>
				<div class="desc">
					<p><strong>We offer:</strong></p>
					<ul class="normal-list">
						<li>work with cutting edge technologies</li>
						<li>opportunity to sink your teeth into problems of businesses of all types and sizes</li>
						<li>the experience of working completely in the cloud</li>
						<li>hub office surrounded by others on the same wavelength</li>
						<li>Keboola Space Program</li>
					</ul>
				</div>
			</div>
		</article>

		<article class="article">
			<div class="in">
				<div class="article-img-right">
					<a href="/img/jobs/keboola-2.jpg" data-lightbox="life-in-keboola" data-title="Life in Keboola">
						<img src="/img/jobs/keboola-2.jpg" alt="Life in Keboola">
					</a>
				</div>
				<div class="desc">
					<p><strong>We ignore:</strong></p>
					<ul class="normal-list">
						<li>formal education on any level, including MBAs</li>
						<li>business cards</li>
						<li>formal hierarchy</li>
						<li>salary histories</li>
					</ul>
					<br><br><br><br><br>
					<br><br><br><br><br>
				</div>
			</div>
		</article>

		<div class="get-in-touch-btn"><a href="mailto:hr.vancouver@keboola.com">Interested? Get in touch <i></i></a></div>
	</section>
{% endblock %}
