{% extends "layout.html.twig" %}

{% block title %}H1 | Stories | {% endblock %}

{% block head %}
	<div class="header case-study-header case-study-h1"><div class="in">
		{% include "header.html.twig" %}
		<article>
			<h2><strong>GoodData in a digital marketing agency</strong></h2>
			<h1>H1.cz</h1>
			<p>H1.cz management recently recognized a need to
				abandon its old reporting and CRM systems to improve their operational processes..</p>
			<div class="tags-list">
				<span class="tag-item tag-item-second">#agency</span>
				<span class="tag-item tag-item-second">#operations</span>
				<span class="tag-item tag-item-second">#financial data</span>
				<span class="tag-item tag-item-second">#time tracking</span>
				<span class="tag-item tag-item-second">#client reporting</span>
			</div>

			<a href="" class="customer-play-video customer-info">
				<strong>TOMAS VYSKOCIL</strong><br>
				SEO Department head
			</a>
		</article>
	</div></div>
{% endblock %}

{% block content %}
	<section>
		<article class="article">
			<div class="in">
				<div class="article-img-right"><img src="/img/sale-content-img.png" alt=""></div>
				<div class="desc">
					<h1>Project highlights</h1>

					<p>"We have managed to cancel more than <strong>95%
						of spreadsheets</strong> used for daily management.
						I really like to see people being able to
						retrieve very complicated information on
						their own within a couple of clicks."</p>

				</div>
			</div>
		</article>

		<article class="article blockquote">
			<div class="in">
				<blockquote>
					<p>		We have saved more than 2 people just by the simple fact that all the data is tracked together.</p>
				</blockquote>
			</div>
		</article>



		<article class="article-half-list"><div class="in">
				<h1>More about project</h1>
			<div class="desc-half-list">
				<p>H1.cz decided to bring more detailed and faster data to its employees,
				elevating its practise of data-driven operational management.
				While migrating their reporting and project management systems,
				the agency needed to hold on to its old know-how,
				as well as the data itself being exported from their older systems.
				In the world of agency business, the level of speed and amount of detail
				available to employees is a crucial determining factor between profit and loss.
				Keeping this in mind, all employees constantly require information about things
				like KPIs, consultants, billed time, budgets, etc.
				While the new CRM implementation was taking longer than expected,
				management had only partial information about their business.

				</p>

					<p>
					The result was that they were unable to distinguish which projects
						and people were generating <STRONG>profits</STRONG> or <STRONG>losses</STRONG>, and <STRONG>when</STRONG>.
						It became increasingly difficult to implement the organization’s
						operational management properly. To overcome all this, H1.cz management realized
						that they needed a <STRONG>universal</STRONG> reporting tool which would allow an easy access to both
						their old and new data. This allowed H1.cz connections to things like:
						their old and new <STRONG>CRM</STRONG> simultaneously, specialized tools for <STRONG>advertisement</STRONG> management,
						<STRONG>analytics</STRONG> as well as <STRONG>time-tracking</STRONG> tools such as Toggl, <STRONG>accounting</STRONG>, etc.
						Seamlessly integrating data sources during ongoing scheduling presented a big challenge,
						leading them to make Keboola Connection their ultimate choice.

					</p>
				</div>
			</div></article>

<article class="article">
		<div class="article-img-full"><img src="/img/case-bg-h1-blue.jpg"></div>
</article>

		<article class="article-half-list"><div class="in">
				<h1>Hero Story</h1>
				<div class="desc-half-list">
					<p>Without extensive system analytical knowledge or heavy support from IT,
					within 3 months SEO Department head Tomas Vyskocil was able to
					change the daily operations of the company. He lead his team towards integrating,
					cleaning and transforming all data sources into usable dashboards.
					These dashboards are now in used every day across the organization and serve
					as the basis for </p>
					<p>
					making fast and appropriate decisions.
						Due to his actions, this system has received widespread support,
						won many internal advocates, and is spreading from internal use towards
						client facing applications.</p>
				</div>
			</div></article>

			<article class="article">
					<div class="article-img-full"><img src="/img/case-bg-h1-photo.jpg"></div>
			</article>

		<article class="article-half-list"><div class="in">
				<h1>Results</h1>
				<div class="desc-half-list">
					<p>"I really like to see people being able to
						retrieve very complicated information on
						their own within a couple of clicks. What
						would historically mean sending a request to
						finance and waiting a week or two to get
						some spreadsheet is now available to everyone
						with just a couple of clicks on nicely
						understandable dashboards. We have managed to cancel more than 95%
						of spreadsheets used for daily management.
						Now we consume the data directly in the
						form of reports and dashboards that we can
						actually much more easily query."</p>

					<p>"So first, we
						have the data straight away; second, it is
						more understandable when presented in
						graphical form; and, finally, we can actually
						form a hypothesis and ask the data for
						answers ourselves, without the help of IT.”<br>
						"When managing such a goal-oriented workforce
						and having clients who demand a
						strong performance, you can talk about
						things for a while but at the end of the day it
						is about the numbers. Either you deliver or
						not. If you don’t have the data and don’t
						manage according to them it can kill you; if
						you do, it can really accelerate your growth!"</p>
				</div>
			</div></article>

		<article class="article blockquote">
			<div class="in">
				<blockquote>
					<p>We’ve worked so many hours for this client,has their invoice been issued yet?</p>
				</blockquote>
			</div>
		</article>

		<article class="article-half-list"><div class="in">
				<div class="desc-half-list">
					<p>"The most important KPI we track are work hours
						which translate into future profits. Next to that
						we track revenue from invoice, back to the segments
						that it was billed for, the size of the company,
						or the cost if it was direct or indirect,
						and who issued it. We also use the system as a type
						of tracker and guard keeper. We look for answers to
						questions like: “We’ve worked so many hours
						for this client, has their invoice been issued yet?” .
						<strong>Then  we track the customer’s KPIs all the way
						from AdWords and  Analytics, as well as billing.</strong>" </p>

					<p>"According to my estimate we have so far saved
						more than 10% of each employees time. Most of the
						time we have saved by just the simple fact that
						all the data is tracked together. Before, we had to
						log into different systems, trying to bind that
						data together . Now we see the whole flow of the
						work together. I would say that it is more than
						two people per month that we’ve saved costs for.
						Once we get the automatic reports started for
						our clients, I estimate that we will take this
						number of cost savings up to three to four people."</p>
				</div>
			</div></article>

		<article class="article-half-list"><div class="in">
				<h1>About H1</h1>
				<div class="desc-half-list">
					<p>H1.cz was founded in 2005, and since its start has
						specialized in performance marketing, starting
						with SEO and PPC, lately adding analytics, UX
						and conversion optimization. H1.cz was acquired
						by GroupM in 2013. 100 people now work at
						H1.cz, which has an annual revenue of approximately
						$20 million. </p>
				</div>
			</div></article>

		<article class="article-box article-box-case-study"><div class="in">
			<div class="info-article-box">
				<div class="item-30">
					<h2>Key PROJECT<br>Challenges</h2>
					<p>Too many internal systems</p>
					<p>Too much manual reporting</p>
					<p>Too slow to to get insights into complex reports</p>
				</div>
				<div class="item-30">
					<h2>BENEFITS/OUTCOMES</h2>
					<p>All data is in one place</p>
					<p>Acquiring different analyses is fast</p>
					<p>It looks really nice :)</p>
				</div>
				<div class="item-30">
					<h2>UNEXPECTED BENEFIT</h2>
					<p>For me personally, it’s the automatic set-up and
						delivery of reports to our clients</p>
				</div>
			</div>
		</div></article>
		<div class="case-study-box"><div class="in">
			<h1>Relevant case studies</h1>
			<ul class="box-list">
				{#<li><article class="item item-blue item-second">#}
					{#<div class="tags"><span class="tag-item">CASE STUDY</span></div>#}
					{#<h1>Data Driven Culture in Slevomat - 6 countries and 1bn revenue ...</h1>#}
					{#<p>Lorem ipsum dolor sit amet, consecte adipisicing elit, sed do eiusmod tempo ...</p>#}
					{#<a href="" class="btn">View</a>#}
				{#</article></li>#}
				{#<li><article class="item item-yellow item-second">#}
					{#<div class="tags"><span class="tag-item">CASE STUDY</span></div>#}
					{#<h1>How to kick-start food delivery service using data - Rohlik.cz</h1>#}
					{#<p>Lorem ipsum dolor sit amet, consecte adipisicing elit, sed do eiusmod tempo ...</p>#}
					{#<a href="" class="btn">View</a>#}
				{#</article></li>#}

				<li><article class="item item-blue item-second">
						<div class="tags"><span class="tag-item">CASE STUDY</span></div>
						<h1>Stationary goods chain goes data ...</h1>
						<p>With the help of Keboola partner Ascoria they have created a very retail ...</p>
						<a href="{{ path('story', {'story':'mcpen'}) }}" class="btn btn-white">Read more</a>
					</article></li>
			</ul>
		</div></div>

		{% include "events.html.twig" %}

		<div class="get-in-touch-btn"><a href="{{ path('contact') }}">Interested in similar solution? Get in touch <i></i></a></div>
	</section>
{% endblock %}
