{% extends "layout.html.twig" %}

{% block title %}McPen | Stories | {% endblock %}

{% block head %}
	{% include "header.html.twig" %}
	<div class="header case-study-mcpen"><div class="in">
		<article>
			<h2><strong>A BUSINESS BUILT AND RUN ON DATA</strong></h2>
			<h1>McPen story</h1>
			<p>
			McPen wanted a customized operations management system. Combining their existing POSs, Frames and other retail data, they were able to identify retail solutions specific to their business. </p>
			<div class="tags-list">
				<span class="tag-item tag-item-second">#retail</span>
				<span class="tag-item tag-item-second">#ERP</span>
				<span class="tag-item tag-item-second">#POS</span>
				<span class="tag-item tag-item-second">#ascoria</span>
				<span class="tag-item tag-item-second">#change_management</span>
			</div>

			<a href="" class="customer-play-video customer-info">
				<strong>MILAN PETR</strong><br>
				CEO – McPen Co
			</a>
		</article>
	</div></div>
{% endblock %}

{% block content %}
			<section>
				<article class="article"></article>

				<article class="article blockquote">
					<div class="in">
						<blockquote>
							<p>&nbsp;&nbsp; It was an enlightening moment - looking at the data we suddenly realized that generating a 50% upsell to 42% of our customer base is just as easy as suggesting they buy a rubber (eraser) or a sharpener with the pencil they already have in their hand.</p>
							<footer>McPen</footer>
						</blockquote>
					</div>
				</article>

				<article class="article-half-list">
					<div class="in">
						<h1>More about the project</h1>
						<div class="desc-half-list">
							<p>About a year ago, McPen started to go the data driven business route. They realized that in order to excel in the stationery goods space, they would need to create a competitive advantage with a unique operational management system.</p>
							<p>Assisted by Keboola Partner Ascoria, McPen began to pull data from sources like their POS, Frames and other retail sources. All levels of management from the CEO down then used this compiled easily accessible data to solve real retail problems. </p>
						</div>
					</div>
				</article>

				<article class="article">
					<div class="in">
						<div class="article-img-right">
							<a class="screenshot" href="/img/stories/mcpen-screen-01.png" data-lightbox="metrics-1" data-title="Categories of customers by sold total">
								<img src="/img/stories/mcpen-screen-01.png" alt="Categories of customers by sold total">
							</a>
						</div>
						<div class="desc">
							<p>In examining, their data McPen discovered that to maximize profitability, they needed to upsell customers. Diving even deeper into their data they realized that while their biggest income comes from customers buying totals between 200 and 500 CZK (around 8 to 20 USD) , the biggest potential for upsell actually came from customers that bought up to 50 CZK (around 2 USD) which made up 42% of all McPen customers.</p>
						</div>
					</div>
				</article>

				<article class="article">
						<div class="article-img-full"><img src="/img/case-bg-mcpen-blue.png"></div>
				</article>

				<article class="article">
					<div class="in">
						<div class="article-img-right">
							<a class="screenshot" href="/img/stories/mcpen-screen-02.png" data-lightbox="metrics-2" data-title="Categories of customers by sold total">
								<img src="/img/stories/mcpen-screen-02.png" alt="metrics-2">
							</a>
						</div>
						<div class="desc">
							<h1>Hero Story</h1>
							<p>McPen’s CEO Milan Petr, and the team at Ascoria our partner company, were able to the put the entire project together in just a couple of months. Although they were starting from scratch, they were able to configure the entire system without the need for a single developer. Together they stayed focused on the end goal to lean operations and combined with the innovation of adding new features, created a system that benefitted the entire organization.</p>
							<p>Milan Petr recognized the need for complex change management. He knew that to effectively manage shifts in business, he needed to involve every part of the organization in making decisions based on data. Leading by example, he developed and learned the system in detail to understand the impact on daily operations. He then provided access and support directly to the people on the floor to empower them to make the strategic decisions needed to improve their daily results.</p>
						</div>
					</div>
				</article>

				<article class="article">
						<div class="article-img-full"><img src="/img/case-bg-mcpen-photo.png"></div>
				</article>

				<article class="article">
					<div class="in">
						<div class="article-img-right">
							<a class="screenshot" href="/img/stories/mcpen-screen-03.png" data-lightbox="metrics-2" data-title="Categories of customers by sold total">
								<img src="/img/stories/mcpen-screen-03.png" alt="metrics-2">
							</a>
						</div>
						<div class="desc">
							<h1>Results</h1>
							<p>Milan succeeded in creating a lean organization that makes data-driven decisions at all levels. With each employee using the system and analyzing data for approximately 10 minutes a day, McPen was able to increase the volume of their average <STRONG>basket by 30%!</STRONG></p>
							<p>Their retail locations do not need to rely on a head office to provide them with reporting. Each store can simply login to their web browser and do a pulse check of their business instantaneously. They can then use this data to alter everything from store set up to promotional offers and recommended purchases to improve their own sales. </p>
						</div>
					</div>
				</article>

				<article class="article blockquote">
					<div class="in">
						<blockquote>
							<p>We’ve worked so many hours for this client,has their invoice been issued yet? This process completely turned around the way we generate upsell - our shopkeepers now actively access the data themselves and define sales strategies for their particular shop.
							</p>
						</blockquote>
					</div>
				</article>

				<article class="article-half-list"><div class="in">
					<h1>About McPen</h1>
				<div class="desc-half-list">
					<p>McPen is an European chain distributor of stationery goods. Among their top selling brands are Herlitz, Centropen, Koh-i-noor, Pentel, Pilot, Parker, Pelikan, Stabilo, Pritt, Maped, Snopake, SusyCard, Albi, Argus, and many more. McPen is one of the first small to medium sized business in Czech retail operations that has fully embraced the data-driven approach to business. They also lead the way for data distribution by allowing equal access to all their employee to make informed decisions on their own.

					</p>
				</div>
				</div></article>

				<article class="article-box article-box-case-study"><div class="in">
					<div class="info-article-box">
						<div class="item-30">
							<h2>Key PROJECT<br>Challenges</h2>
							<p>Too many unconnected data sources</p>
							<p> Data from "offline" hard to integrate with electronic data points</p>
							<p>Almost no reporting</p>
							<p>Too slow to to get insights into complex reports</p>
						</div>
						<div class="item-30">
							<h2>BENEFITS/OUTCOMES</h2>
							<p>All data is in one place</p>
							<p>Everybody gets access to data</p>
							<p>People make informed decissions</p>
							<p>Sharp raise in profits</p>
						</div>
						<div class="item-30">
							<h2>UNEXPECTED BENEFIT</h2>
							<p>Discovered consumer group which makes an easiest upsell target</p>
							<p>Everybody becomes a data analyst</p>
						</div>
					</div>
				</div></article>

		<div class="case-study-box"><div class="in">
			<h1>Relevant case studies</h1>
			<ul class="box-list">
				<li><article class="item item-yellow item-second">
						<div class="tags"><span class="tag-item">CASE STUDY</span></div>
						<h1>KPIs and client reporting at digital agency - H1.cz</h1>
						<p>H1.cz has improved operations and budgeting</p>
						<a href="{{ path('story', {'story': 'h1'}) }}" class="btn">View</a>
					</article></li>
			</ul>
		</div></div>
		{% include "events.html.twig" %}
		<div class="get-in-touch-btn"><a href="{{ path('contact') }}">Interested in similar solution? Get in touch <i></i></a></div>
	</section>
{% endblock %}
