{% extends "layout.html.twig" %}

{% block title %}McPen | Stories | {% endblock %}

{% block head %}
	{% include "header.html.twig" %}
	<div class="header case-study-mcpen"><div class="in">
		<article>
			<h2><strong>A BUSINESS BUILT AND RUN ON DATA</strong></h2>
			<h1>McPen story</h1>
			<p>
			McPen wanted a customized operations management system. Combining their existing POSs, Frames and other retail data, they were able to identify retail solutions specific to their business. </p>
			<div class="tags-list">
				<span class="tag-item tag-item-second">#retail</span>
				<span class="tag-item tag-item-second">#ERP</span>
				<span class="tag-item tag-item-second">#POS</span>
				<span class="tag-item tag-item-second">#ascoria</span>
				<span class="tag-item tag-item-second">#change_management</span>
			</div>

			<a href="" class="customer-play-video customer-info">
				<strong>MILAN PETR</strong><br>
				CEO – McPen Co
			</a>
		</article>
	</div></div>
{% endblock %}

{% block content %}
			<section>
				<article class="article"></article>

				<article class="article blockquote">
					<div class="in">
						<blockquote>
							<p>&nbsp;&nbsp;It was an enlightening moment - looking at the data we suddenly realised that generating a 50% upsell to 42% of our customer base it’s just as easy as suggesting to buy a rubber or a sharpener with the pencil our customer already has in it’s hand.</p>
							<footer>McPen</footer>
						</blockquote>
					</div>
				</article>

				<article class="article-half-list">
					<div class="in">
						<h1>About the project</h1>
						<div class="desc-half-list">
							<p>About a year ago, McPen started to go the data driven business route. They realized that in order to excel in the stationary goods space, they would need to create a competitive advantage with a unique operational management system.</p>
							<p>Assisted by Keboola Partner Ascoria, McPen began to pull data from sources like their POS, Frames and other retail sources. All levels of management from the CEO down then used this compiled easily accessible data to solve real retail problems. </p>
						</div>
					</div>
				</article>

				<article class="article">
					<div class="in">
						<div class="article-img-right">
							<a class="screenshot" href="/img/stories/mcpen-screen-01.png" data-lightbox="metrics-1" data-title="Categories of customers by sold total">
								<img src="/img/stories/mcpen-screen-01.png" alt="Categories of customers by sold total">
							</a>
						</div>
						<div class="desc">
							<p>In examining, their data McPen discovered that to maximize profitability, they needed to upsell customers. Diving even deeper into their data they realized that while their biggest income comes from customers buying totals between 200 and 500 CZK (around 8 to 20 USD) , the biggest potential for upsell actually came from customers that bought up to 50 CZK (around 2 USD) which made up 42% of all McPen customers.</p>
						</div>
					</div>
				</article>

				<article class="article">
						<div class="article-img-full"><img src="/img/case-bg-mcpen-blue.png"></div>
				</article>

				<article class="article">
					<div class="in">
						<div class="article-img-right">
							<a class="screenshot" href="/img/stories/mcpen-screen-02.png" data-lightbox="metrics-2" data-title="Categories of customers by sold total">
								<img src="/img/stories/mcpen-screen-02.png" alt="metrics-2">
							</a>
						</div>
						<div class="desc">
							<h1>Hero Story</h1>
							<p>McPen's CEO and our partner company Ascoria were  able to put the whole project
								together within just couple of months. Starting from scratch, being lean and adding
								new and new features as they were tested and proven their benefit to the organisation.
								All of this without a need for a single developer envolved.</p>
							<p>Mr. Petr, CEO of McPen, recognized the need for complex change management as he wanted
								to envolve not only top management and trained data scientist, but his goal was a company wide
								deployment and use of the data as the fundamental layer for everyday decisions done righ on the floor
								and not in some glass office in HQ. He slowly envolved all managarial layers of the organization,
								learning how to use data for daily operations first himself.</p>
						</div>
					</div>
				</article>

				<article class="article">
						<div class="article-img-full"><img src="/img/case-bg-mcpen-photo.png"></div>
				</article>

				<article class="article">
					<div class="in">
						<div class="article-img-right">
							<a class="screenshot" href="/img/stories/mcpen-screen-03.png" data-lightbox="metrics-2" data-title="Categories of customers by sold total">
								<img src="/img/stories/mcpen-screen-03.png" alt="metrics-2">
							</a>
						</div>
						<div class="desc">
							<h1>Results</h1>
							<p>Milan was able to deliver the information needed to get the job done across all levels in the company from top managers to floor workers and involve them to use the data to improve their job. By using Data 10 minutes / day by all employees McPen managed to increase the volume of the average basket by <STRONG>30%</STRONG> !!!</p>
							<p>Our shopkeepers can access this information right on the spot using a web browser. And find out the particular products that the customers most likely buy together.</p>
						</div>
					</div>
				</article>

				<article class="article blockquote">
					<div class="in">
						<blockquote>
							<p>We’ve worked so many hours for this client,has their invoice been issued yet? This process completely turned around the way we generate upsell - our shopkeepers now actively access the data themselves and define sales strategies for their particular shop.
							</p>
						</blockquote>
					</div>
				</article>

				<article class="article-half-list"><div class="in">
					<h1>About McPen</h1>
				<div class="desc-half-list">
					<p>McPen is an European chain distributor of stationary goods.
						Among it's top selling brands can be found: Herlitz, Centropen,
						Koh-i-noor, Pentel, Pilot, Parker, Pelikan, Stabilo, Pritt, Maped,
						Snopake, SusyCard, Albi, Argus, and many others.
						McPen is one of the first retail industry operations in SMB segment
						that has fully embraced the data-driven approach to business and
						has democratized the access to data to all of it's employees,
						allowing them to put the data in context make make informed decissions
						on their own.
					</p>
				</div>
				</div></article>

				<article class="article-box article-box-case-study"><div class="in">
					<div class="info-article-box">
						<div class="item-30">
							<h2>Key PROJECT<br>Challenges</h2>
							<p>Too many unconnected data sources</p>
							<p> Data from "offline" hard to integrate with electronic data points</p>
							<p>Almost no reporting</p>
							<p>Too slow to to get insights into complex reports</p>
						</div>
						<div class="item-30">
							<h2>BENEFITS/OUTCOMES</h2>
							<p>All data is in one place</p>
							<p>Everybody gets access to data</p>
							<p>People make informed decissions</p>
							<p>Sharp raise in profits</p>
						</div>
						<div class="item-30">
							<h2>UNEXPECTED BENEFIT</h2>
							<p>Discovered consumer group which makes an easiest upsell target</p>
							<p>Everybody becomes a data analyst</p>
						</div>
					</div>
				</div></article>

		<div class="case-study-box"><div class="in">
			<h1>Relevant case studies</h1>
			<ul class="box-list">
				<li><article class="item item-yellow item-second">
						<div class="tags"><span class="tag-item">CASE STUDY</span></div>
						<h1>KPIs and client reporting at digital agency - H1.cz</h1>
						<p>H1.cz has improved operations and budgeting</p>
						<a href="{{ path('story', {'story': 'h1'}) }}" class="btn">View</a>
					</article></li>
			</ul>
		</div></div>
		{% include "events.html.twig" %}
		<div class="get-in-touch-btn"><a href="{{ path('contact') }}">Interested in similar solution? Get in touch <i></i></a></div>
	</section>
{% endblock %}
