{% extends "layout.html.twig" %}

{% block head %}
	<div class="header case-study-mcpen"><div class="in">
		{% include "header.html.twig" %}
		<article>
			<h2><strong>Data Driven Business route one year ago</strong></h2>
			<h1>McPen story</h1>
			<p>With the help of Keboola partner Ascoria they have created a very retail focused solution that take data from different sources&nbsp;like POS, Frames, etc. and</p>
			<div class="tags-list">
				<span class="tag-item tag-item-second">#retail</span>
				<span class="tag-item tag-item-second">#ERP</span>
				<span class="tag-item tag-item-second">#POS</span>
				<span class="tag-item tag-item-second">#ascoria</span>
				<span class="tag-item tag-item-second">#change_management</span>
			</div>

			<a href="" class="customer-play-video customer-info">
				<strong>THOMAS MANGO</strong><br>
				CFO – McPen Co
			</a>
		</article>
	</div></div>
{% endblock %}

{% block content %}
	<section>
		{#<article class="article">#}
			{#<div class="in">#}
				{#<div class="article-img-full"><img src="img/sale-content-img.png"></div>#}
			{#</div>#}
		{#</article>#}
		<article class="article">
			<div class="in">
				<div class="article-img-right"><img src="/img/sale-content-img.png" alt=""></div>
				<div class="desc">
					<h1>Project highlights</h1>
					<p>By using Data <strong>10 minutes</strong>/day by all employees we managed to increase the volume of the average basket by <strong>30%</strong>!!!</p>
				</div>
			</div>
		</article>

		<article class="article">
			<div class="in">
				<div class="article-img-left"><img src="" alt=""></div>
				<div class="desc">
					<h1>More About Project</h1>
					<p>McPen has started to go Data Driven Business route one year ago. With the help of Keboola partner Ascoria they have created a very retail focused solution that take the data from different sources like POS, Frames, etc. and turned it into a full fledge operational management system that is now used in all levels of McPen management from CEO down to floor workers who run their stationary goods shops.</p>
				</div>
			</div>
		</article>

		<article class="article-half-list"><div class="in">
			<h1>Results</h1>
			<div class="desc-half-list">
				<p>Thanks to the easy data platform we are able to train all the people from top managers to floor workers to use the data in everyday business.
					<br>By using Data 10 minutes / day by all employees we managed to increase the volume of the average basket by 30% !!!
				</p>
			</div>
		</div></article>

		<article class="article-box article-box-case-study"><div class="in">
			<div class="info-article-box">
				<div class="item-50">
					<h2>Key PROJECT<br>Challenges</h2>
					<p>Change management - to prepare the workers on all levels to work with data and manage the views for every level took us 9 months.</p>
					<p>Data extraction and collection.</p>
				</div>
				<div class="item-30">
					<h2>PROJECT<br>DURATION</h2>
					<p>3 months to first truly workable system for C level</p>
					<p>6 months to implement within the whole company</p>
				</div>
				<div class="item-20">
					<h2>Data<br>Sources</h2>
					<p>POS systems</p>
					<p>ERP</p>
					<p>UKS</p>
					<p>Google Drive</p>
				</div>
			</div>
		</div></article>
		<div class="case-study-box"><div class="in">
			<h1>Relevant case studies</h1>
			<ul class="box-list">
				<li><article class="item item-yellow item-second">
						<div class="tags"><span class="tag-item">CASE STUDY</span></div>
						<h1>KPIs and client reporting at digital agency - H1.cz</h1>
						<p>H1.cz has improved operations and budgeting</p>
						<a href="{{ path('story', {'story': 'h1'}) }}" class="btn">View</a>
					</article></li>
			</ul>
		</div></div>
		{% include "events.html.twig" %}
		<div class="get-in-touch-btn"><a href="">Interested in similar solution? Get in touch <i></i></a></div>
	</section>
{% endblock %}
