{% extends "layout.html.twig" %}

{% block title %}Agency | Solutions | {% endblock %}

{% block head %}
	{% include "header.html.twig" %}
	<div class="header partners-detail-header"><div class="in">
		<article>
			<h1 class="h1-big">Agency</h1>
			<h2 class="h2-big"><strong>Be efficient</strong></h2>
			<div class="tags-list">
				<a href="#earthworms"><span class="tag-item tag-item-second">Earthworms</span></a>
				<a href="#activityReports"><span class="tag-item tag-item-second">Activity Reports</span></a>
			</div>
		</article>
	</div></div>
{% endblock %}

{% block content %}
	<section>

		<article class="article">
			<div class="in">
				<div class="article-img-right"><img src="/img/sale-content-img.png" alt=""></div>
				<div class="desc">
					<h1>Insight</h1>
					<p>As a service agency, customer care manager or similar type positions, you are all about efficiency. Any idle time spent on non-revenue generating activities means wasted time and manpower and more importantly, a net loss for your organization.</p>
					<p>To ensure optimal operation you may be asking yourself questions like this:</p>

					<ul class="normal-list">
						<li><strong>Is your team correctly prioritizing clients with a higher profit margin?</strong></li>
						<li><strong>How are individuals team members performing compared to each other?</strong></li>
						<li><strong>Are team members doing the work they are best suited for?</strong></li>
					</ul>
				</div>
			</div>
		</article>


		<article class="article">
				<div class="article-img-full"><img src="/img/case-bg-h1-blue.jpg"></div>
		</article>



		{# Earthworms #}

		<article class="article article-divider">
			<div class="in">
				<div class="article-img-right">
					<a class="screenshot" href="/img/solutions/customer-care.png" data-lightbox="customer-care" data-title="Customer Care">
						<img src="/img/solutions/customer-care.png" alt="Customer Care">
					</a>
				</div>
				<div class="desc">
					<h1 id="earthworms">Earthworms</h1>
					<p>Sometimes the simplest graphs show the most relevant information. The graph that you see to your right has been coined the “earthworm” by our clients. This graph from one of our clients eloquently shows agent performance overall as well as in comparison to the team average. As a manager imagine having one of these for each of your agents. In a mere seconds you can distinguish your top vs. poor performers and take the actions needed to enhance or improve their behavior.</p>
					<p>Diving deeper into individual performance, you can then examine why each agent is performing the way that they are. Looking at the other client example in this section you can see that this series of earthworms track agent performance in different areas.<BR>

						In this example, the agent is faster at answering emails and calls compared with the team average which is great. However, if you look at the live chat section this agent is answering 0 tickets. This could mean the channel is out of order or that the agent is struggling with this particular aspect of customer service. The earthworm graphs give you a quick visual representation of performance so that you can identify areas of interest. This then allows you to spend your time where it matters, investigating and taking action.

					</p>
				</div>
			</div>
		</article>

		<article class="article">
			<div class="in">
				<div class="article-img-right">
					<a class="screenshot" href="/img/solutions/customer-care-2.png" data-lightbox="customer-care-2" data-title="Customer Care 2">
						<img height="400px" src="/img/solutions/customer-care-2.png" alt="Customer Care 2">
					</a>
				</div>
				<div class="desc">
					<p>In the example below, you can see that our team member is by 30% faster at solving phone or email requests while he does not accept any request coming by the live chat, which indicates that this channel is probably out of order.  Otherwise the team on average spent 1 600 minutes on solving 1257 tickets while out operator alone managed to solve 4 000 requests by himself, this is surely a fact that may require some further inquiry.</p>
				</div>
			</div>
		</article>

		{# Activity Reports #}

		<article class="article article-divider">
			<div class="in">
				<div class="article-img-right">
					<a class="screenshot" href="/img/solutions/activity-reports.png" data-lightbox="activity-reports" data-title="Activity Reports">
						<img src="/img/solutions/activity-reports.png" alt="">
					</a>
				</div>
				<div class="desc">
					<h1 id="activityReports">Activity Reports</h1>
					<p>As an agency, transparency into the work you doing is crucial to ensuring client satisfaction. Your clients want to know where their dollars are going and how your work is impacting their business.</p>
					<p>Recording these transactions can be tedious and time consuming for your team, and extracting these reports into a presentable format can be equally as frustrating. Using KBC our clients have been able to centralize their client related activities information to one place and then develop simple reports to easily show the client exactly what’s going on. <BR>
					The report in the example is used by one of our clients. It can be modified with the drop downs featured to the right to create the specific report a client would want. This report instantly gives insight into how time is being spent without the wasted resources required to manually pull reports from places like Excel.   </p>
				</div>
			</div>
		</article>


		<div class="article-box"><div class="in-second">
				<h1><strong>How can we help you</strong></h1>
				<p>Team performance management, client reporting, revenue and expense comparisons etc. Keeping track of your daily operations can be tricky enough, but using this information to improve can be even more daunting. Let us give you the tools to create easily accessible reporting. This prevents you from getting stuck in the data and spending your time where it matters, driving people and results. </p>

				<a href="{{ path('contact') }}" class="btn btn-white">Contact Us</a>
			</div></div>

		{% include "events.html.twig" %}

		<div class="get-in-touch-btn"><a href="{{ path('contact') }}">Interested in similar solution? Get in touch <i></i></a></div>
	</section>
{% endblock %}
