{% extends "layout.html.twig" %}

{% block title %}Agency | Solutions | {% endblock %}

{% block head %}
	<div class="header partners-detail-header"><div class="in">
			{% include "header.html.twig" %}
			<article>
				<h1 class="h1-big">Agency</h1>
				<h2 class="h2-big"><strong>Be efficient</strong></h2>
				<div class="tags-list">
					<a href="#earthworms"><span class="tag-item tag-item-second">Earthworms</span></a>
					<a href="#activityReports"><span class="tag-item tag-item-second">Activity Reports</span></a>
				</div>
			</article>
		</div></div>
{% endblock %}

{% block content %}
	<section>

		<article class="article">
			<div class="in">
				<div class="article-img-right"><img src="/img/sale-content-img.png" alt=""></div>
				<div class="desc">
					<h1>Insight</h1>
					<p>As an Service agency or Customer care manager you are very aware of the value of time and the associated manpower. As any idle hour or any time spent on a non-paying client makes a net loss for your organisation, you must ensure that any work made by your company or people is done effectively.</p>
					<p>You may be interested in the following questions:</p>

					<ul class="normal-list">
						<li><strong>Is your crew correctly prioritizing clients with higher profit margin?</strong></li>
						<li><strong>How is individual team member performance comparing to the others?</strong></li>
						<li><strong>Is anyone doing the work he is best suited to do?</strong></li>
					</ul>
				</div>
			</div>
		</article>


		<article class="article">
				<div class="article-img-full"><img src="/img/case-bg-h1-blue.jpg"></div>
		</article>



		{# Earthworms #}

		<article class="article article-divider">
			<div class="in">
				<div class="article-img-right">
					<a class="screenshot" href="/img/solutions/customer-care.png" data-lightbox="customer-care" data-title="Customer Care">
						<img src="/img/solutions/customer-care.png" alt="Customer Care">
					</a>
				</div>
				<div class="desc">
					<h1 id="earthworms">Earthworms</h1>
					<p>We have made very rewarding experiences with simple graphs that our clients started to call “earthworms”. As you can see below this graph shows in a very subtle way how is your agent filling the plan and how he is comparing to the team as a whole, which is very motivating.</p>
					<p>In a similar way is possible to easily see, which tasks takes most time to any team member, how is any team member efficient in any task he is doing or whether he is over-effective (meaning that he is for instance sending blank emails instead of actually solving requests).</p>
				</div>
			</div>
		</article>

		<article class="article">
			<div class="in">
				<div class="article-img-right">
					<a class="screenshot" href="/img/solutions/customer-care-2.png" data-lightbox="customer-care-2" data-title="Customer Care 2">
						<img height="400px" src="/img/solutions/customer-care-2.png" alt="Customer Care 2">
					</a>
				</div>
				<div class="desc">
					<p>In the example below, you can see that our team member is by 30% faster at solving phone or email requests while he does not accept any request coming by the live chat, which indicates that this channel is probably out of order.  Otherwise the team on average spent 1 600 minutes on solving 1257 tickets while out operator alone managed to solve 4 000 requests by himself, this is surely a fact that may require some further inquiry.
						<br><br><br><br><br>
					</p>
				</div>
			</div>
		</article>


		{# Obrazek #}

		<article class="article">
				<div class="article-img-full"><img src="/img/case-bg-h1-blue.jpg"></div>
		</article>



		{# Activity Reports #}

		<article class="article article-divider">
			<div class="in">
				<div class="article-img-right">
					<a class="screenshot" href="/img/solutions/activity-reports.png" data-lightbox="activity-reports" data-title="Activity Reports">
						<img src="/img/solutions/activity-reports.png" alt="">
					</a>
				</div>
				<div class="desc">
					<h1 id="activityReports">Activity Reports</h1>
					<p>As an agency you will be spending quite a lot of time reporting hours worked for your clients and internally overhead activities. This will give you better insight on the actual overall expenses tied to the services provided for your clients.</p>
					<p>Such a report used below can give you instant insight on these activities without the need to rely on excel when filtering companies, activities or agents when reporting to the managerial bo</p>
				</div>
			</div>
		</article>


		<div class="article-box"><div class="in-second">
				<h1><strong>How can we help you</strong></h1>
				<p>Connecting the data,
				run operations on data based decissions,
				reporting to your clients with several data sources or have finance
				and cashflow reports always on time. These are some solutions that
				we help to deliver for independent agencies like
				Xmedia.com or large GroupM company H1.cz as well as one of the fastest growing groups
				in Asia APDGroup.com</p>

				<a href="{{ path('contact') }}" class="btn btn-white">Contact Us</a>
			</div></div>

		{% include "events.html.twig" %}

		<div class="get-in-touch-btn"><a href="{{ path('contact') }}">Interested in similar solution? Get in touch <i></i></a></div>
	</section>
{% endblock %}
