{% extends "layout.html.twig" %}

{% block title %}Logistics | Solutions | {% endblock %}

{% block head %}
	<div class="header partners-detail-header"><div class="in">
			{% include "header.html.twig" %}
			<article>
				<h1 class="h1-big">Marketing</h1>
				<h2 class="h2-big"><strong>Do relevant business decisions</strong></h2>
				<div class="tags-list">
					<a href=""><span class="tag-item tag-item-second">Sales Funnel</span></a>
					<a href=""><span class="tag-item tag-item-second">Marketing Cohorts</span></a>
					<a href=""><span class="tag-item tag-item-second">Customer behavior</span></a>
					<a href=""><span class="tag-item tag-item-second">Social Networks</span></a>
				</div>
			</article>
		</div></div>
{% endblock %}

{% block content %}
	<section>

		<article class="article">
			<div class="in">
				<div class="article-img-right"><img src="/img/sale-content-img.png" alt=""></div>
				<div class="desc">
					<h1>Online Marketing</h1>
					<p>When planning to launch a new product or where to spend your marketing budget you may have many questions regarding the impact of your campaign: </p>

					<ul class="normal-list">
						<li><strong>Did I target the correct target group?</strong></li>
						<li><strong>Do my potential customers behave to the advertisement as expected?</strong></li>
						<li><strong>What is the return of investment of my campaign based on different target groups and products?</strong></li>
						<li><strong>How long it will take to turn advertisement recipients in faithful customers?</strong></li>
					</ul>

					<br>

					<p>Having a strong analytical background and useful reports may help you and your company investing smart into marketing a do relevant business decisions.</p>
				</div>
			</div>
		</article>

		{# SALES FUNNEL #}

		<article class="article article-divider">
			<div class="in">
				<div class="article-img-right">
					<a href="/img/solutions/sales-funnel.png" data-lightbox="sales-funnel" data-title="Sales Funnel">
						<img src="/img/solutions/sales-funnel.png" alt="sales funnel">
					</a>
				</div>
				<div class="desc">
					<h1>Marketing Cohorts</h1>
					<p>When starting a new campaign, you may have experienced the thrill of the situation, when your campaign managed to hit and introduce thousands of users in the early stages of your sales funnel, but you are still uncertain how many will hit the end of the funnel where they are supposed to actually pay.</p>
					<p>In these cases it may be useful to track the performances of your campaigns and to track whether your users are behaving as you expect. In the case shown below our client was tracking  how many free SIM Cards sent on demand were activated weeks after the delivery.</p>
					<p>As you can see (image on the right), roughly 70% of all activations were made 3 weeks after the start of the campaign making a ratio of approx. 30% of all the cards sent.</p>
				</div>
			</div>
		</article>

		<article class="article">
			<div class="in">
				<div class="article-img-right">
					<a href="/img/solutions/sales-funnel-2.png" data-lightbox="sales-funnel-2" data-title="Sales Funnel 2">
						<img src="/img/solutions/sales-funnel-2.png" alt="">
					</a>
				</div>
				<div class="desc">
					<p>This information may help you very much when defining the overall expectations of the business model performance compared to specific campaigns,  target group segments or product types.
						<br><br><br><br><br><br><br>
					</p>
				</div>
			</div>
		</article>

		<article class="article">
			<div class="in">
				<blockquote>
					<p>When looking at our marketing model, everything semt going according to the plan, but when we looked deeper into apparently well performing campaigns, we found out, that while some ads and channels were performing extraordinarily well, others were draining the overall average performances to mediocre results.</p>
					<footer>— R. Novaček Gorilla Mobile</footer>
				</blockquote>
			</div>
		</article>

		{#<article class="article-box article-box-solution">#}
			{#<div class="in">#}
				{#<div class="info-article-box">#}
					{#<div>#}
						{#<h2>Slevomat Group</h2>#}
						{#<p>Sales (B2C)</p>#}
						{#<p>Partner (merchant) performance (B2B)</p>#}
						{#<p>Partner insights</p>#}
					{#</div>#}
				{#</div>#}
			{#</div>#}
		{#</article>#}

		{# MARKETING COHORTS #}

		<article class="article article-divider">
			<div class="in">
				<div class="article-img-right">
					<a href="/img/solutions/cohorts.png" data-lightbox="sales-funnel-2" data-title="Marketing Cohorts">
						<img src="/img/solutions/cohorts.png" alt="">
					</a>
				</div>
				<div class="desc">
					<h1>Marketing Cohorts</h1>
					<p>Betting on one single marketing type may be tricky. Typically you may have experienced that incomes from commercial mailing lists may wither away as reclamations or failed payments or otherwise unfinished transactions may increase over time. On the other hand other not so much apparent sources with greater brand impact may give you significant  incomes over time that may go unnoticed from a short perspective.</p>
					<p>In the graph on the right you may notice that the very first marketing campaign made by our client in january 2013 made nowadays 20% of his total income.</p>
					<p>Tracking such incomes in context with other expenditures as such as support and other overhead costs may be very rewarding when looking for sustainable business models.</p>
				</div>
			</div>
		</article>

		{# CUSTOMER BEHAVIOR #}

		<article class="article article-divider">
			<div class="in">
				<div class="article-img-right">
					<a href="/img/solutions/behavior.png" data-lightbox="customer-behavior" data-title="Customer Behavior">
						<img src="/img/solutions/behavior.png" alt="">
					</a>
				</div>
				<div class="desc">
					<h1>Customer behaviour</h1>

					<p>It probably happened to all of us more than once - you expected your customer to behave in a certain way only to learn afterwards that the reality was different.</p>
					<p>Our client was relying on a vast and quite expensive network of partner organisations in order to allow his own customers to pay for its services. When looking to the payment distribution chart he realised that 95% percents of orders were made by channels requiring roughly 60 % of the expenses. By cutting the unneeded partners he managed afterwards to significantly improve the overall profitability of his service.</p>
				</div>
			</div>
		</article>

		{# SOCIAL NETWORKS#}

		<article class="article article-divider">
			<div class="in">
				<div class="article-img-right">
					<a href="/img/solutions/social-networks.png" data-lightbox="social-networks" data-title="Social Networks">
						<img src="/img/solutions/social-networks.png" alt="">
					</a>
				</div>
				<div class="desc">
					<h1>Social Networks</h1>

					<p>GoodData can provide you a wealth of information on what your fans do on the social networks and who they are. On the reports below you may get a look what information about user demographics and sentiment can be given to you by custom made reports.</p>
				</div>
			</div>
		</article>



		<div class="article-box"><div class="in-second">
				<h1><strong>How can we help you</strong></h1>
				<p>We do professional consultation for retailing and retail reporting. We have got our own BI tool based on Keboola tools platform, which can provide you with fast, automatic and transparent information for your decisions. Connecting diverse data sources like SKUs, offline traffic, sales KPIs and ERP data is just the beginning for us.</p>

				<a href="{{ path('contact') }}" class="btn btn-white">Contact Us</a>
			</div></div>

		{% include "events.html.twig" %}

		<div class="get-in-touch-btn"><a href="{{ path('contact') }}">Interested in similar solution? Get in touch <i></i></a></div>
	</section>
{% endblock %}
