{% extends "layout.html.twig" %}

{% block title %}Marketing | Solutions | {% endblock %}

{% block head %}
	{% include "header.html.twig" %}
	<div class="header partners-detail-header"><div class="in">
		<article>
			<h1 class="h1-big">Marketing</h1>
			<h2 class="h2-big"><strong>Do relevant business decisions</strong></h2>
			<div class="tags-list">
				<a href="#salesFunnel"><span class="tag-item tag-item-second">Sales Funnel</span></a>
				<a href="#marketingCohorts"><span class="tag-item tag-item-second">Marketing Cohorts</span></a>
				<a href="#customerBehaviour"><span class="tag-item tag-item-second">Customer behavior</span></a>
				<a href="#socialNetworks"><span class="tag-item tag-item-second">Social Networks</span></a>
			</div>
		</article>
	</div></div>
{% endblock %}

{% block content %}
	<section>
		<article class="article">
			<div class="in">
				<div class="article-img-right"><img src="/img/sale-content-img.png" alt=""></div>
				<div class="desc">
					<p>When planning a new product launch and deciding where to spend your marketing budget, you probably have questions regarding the impact of your campaign:</p>

					<ul class="normal-list">
						<li><strong>How long it will take to turn marketing leads into faithful customers?</strong></li>
						<li><strong>Did I target the correct customer group?</strong></li>
						<li><strong>Do my potential customers respond to the advertisement as expected?</strong></li>
						<li><strong>What is the return of on investment for my campaign based on different target groups and products?</strong></li>
					</ul>

					<br>


					<p> Our clients have asked these and other inspired questions which you can check out <a href="http://wiki.keboola.com/home/keboola-environment/sales"> here.</a><BR>

					What we have discovered is that by combining these question with an analytical mindset, you can  create the reports your company needs to invest in better marketing decisions and generate a higher return on investment. </p>

				</div>
			</div>
		</article>

		<article class="article">
			<div class="in">
				<blockquote>
					<p>When looking at our marketing model, everything seemed to be going according to plan. But when we looked deeper into apparently well-performing campaigns, we found out that while some ads and channels were performing extraordinarily well, others were draining the overall average leading to mediocre results.</p>
					<footer>R. Novaček Gorilla Mobile</footer>
				</blockquote>
			</div>
		</article>


		{# SALES FUNNEL #}

		<article class="article article-divider">
			<div class="in">
				<div class="article-img-right">
					<a class="screenshot" href="/img/solutions/gorila-sales-funnel.png" data-lightbox="gorila-sales-funnel" data-title="Sales Funnel">
						<img src="/img/solutions/gorila-sales-funnel.png" alt="sales funnel">
					</a>
				</div>
				<div class="desc">
					<h1 id="salesFunnel">Sales Funnel</h1>
					<p>Most likely you have experienced the thrill of campaigns that land well with their targeted audience. The result is hundreds if not thousands of new users into your sales funnel. While your initial success is great, how many of these end users will actually pay once they get to the final part of your sales process?</p>
					<p>It is therefore useful to track the entire performance of your campaigns by capturing data from each step of the sales funnel. For  example one of our client was tracking how many free SIM Cards that  were sent out on-demand were activated after delivery.</p>
					<p>The image on the right shows that roughly 70% of all activations were made 3 weeks after the start of the campaign creating a ratio of approximately 30% of all cards sent. This revealed that…….</p>
				</div>
			</div>
		</article>



		<article class="article">
			<div class="in">
				<div class="article-img-right">
					<a class="screenshot" href="/img/solutions/sales-funnel-2.png" data-lightbox="sales-funnel-2" data-title="Sales Funnel 2">
						<img src="/img/solutions/sales-funnel-2.png" alt="">
					</a>
				</div>
				<div class="desc">
					<p>As you can see, using reporting to track the different stages of your sales process can have a huge impact on strategizing your marketing decisions. These insights can not only help you to refine your business model but also help you to set clear expectation for each campaign you deliver. This also creates an even starting point when you are comparing campaign performance across the board.</p>
				</div>
			</div>
		</article>

		{# MARKETING COHORTS #}

		<article class="article article-divider">
			<div class="in">
				<div class="article-img-right">
					<a class="screenshot" href="/img/solutions/cohorts.png" data-lightbox="sales-funnel-2" data-title="Marketing Cohorts">
						<img src="/img/solutions/cohorts.png" alt="">
					</a>
				</div>
				<div class="desc">
					<h1 id="marketingCohorts">Marketing Cohorts</h1>
					<p>Regardless of which type of campaign you are running, one of the most fundamental questions every marketer is trying to answer is how did my campaign affect our bottom line? This combined with monitoring campaign health over time can show you what campaigns are best serving their purpose and when it is time to adjust your marketing strategy.</p>
					<p>If you have a look at the graph on your right you will see how one of our clients tracked cohort behavior. Listed along the left hand side is the date campaigns were started and then what their performance over time. Using the Jan 2013 campaign as an example you can see that while initially it was bringing in over $13,721,099 in Q1 of 2013 by Q4 of 2014 it was bring in just over $2,271,889. Comparing contribution to total revenue over time it went from making up 69.5% of revenue to just 5.8%. Keeping in mind that over time more campaigns were added, how does this affect your decision to keep running this campaign? How is it doing compared with other campaigns? These are the questions you can start to examine with the robust reporting Keboola provides.</p>
					<p>Tracking revenue in this context along with other expenditures (such as support and overhead costs)
					may be very rewarding when looking for a sustainable business model.</p>
				</div>
			</div>
		</article>

		{# CUSTOMER BEHAVIOR #}

		<article class="article article-divider">
			<div class="in">
				<div class="article-img-right">
					<a class="screenshot" href="/img/solutions/behavior.png" data-lightbox="customer-behavior" data-title="Customer Behavior">
						<img src="/img/solutions/behavior.png" alt="">
					</a>
				</div>
				<div class="desc">
					<h1 id="customerBehaviour">Customer behaviour</h1>

					<p>So what happens when your marketing efforts aren’t as successful? In other words, the customers acts differently than you thought they would. While wins provide huge opportunities to learn so do losses. By recording and analyzing past customer behavior you can modify future efforts to ensure you are making the right marketing decisions based on facts, not gut feelings.</p>
					<p>One of our clients believed that the more channel options they had the more customers would have access to their product, and the higher their revenue would be. Therefore they focused their resources on creating a vast and expensive partner network. However, the truth was in the data. After looking at the payment distribution chart you see on your right, they realized that 95% of the payments they were receiving were coming from the channels that were only costing their company 60% to maintain. They of course cut the necessary partners and improved their overall profitability and service experience by focusing on the right areas.</p>
				</div>
			</div>
		</article>

		{# SOCIAL NETWORKS#}

		<article class="article article-divider">
			<div class="in">
				<div class="article-img-right">
					<a class="screenshot" href="/img/solutions/social-networks.png" data-lightbox="social-networks" data-title="Social Networks">
						<img src="/img/solutions/social-networks.png" alt="">
					</a>
				</div>
				<div class="desc">
					<h1 id="socialNetworks">Social Networks</h1>

					<p>Twitter, Facebook, Instagram, a company’s interaction with their clients is no longer limited to direct marketing. Building social relationships with the end user is a must but with so many channels how do you keep track?</p>
					<p> Using KBC our clients have been able to integrate all these sources into one place. Reviewing this data like the image you see on the right you can see how your fans are feeling and how much social capital your branding strategy is attaining. Furthermore, by segmenting by demographics you can translate the sentiment of each group to ensure the right relationships are being developed by the right people.</p>

				</div>
			</div>
		</article>



		<div class="article-box"><div class="in-second">
				<h1><strong>How can we help you</strong></h1>
				<p>With more than 15 years of online marketing and sales experience, our partners have helped many companies set-up, measure and implement marketing and sales campaigns driven by data. Regardless of your industry, unique target segment or data sources (CRM, online sales, ad spend etc.) we are all about connecting what you already have to improve your ROI.</p>

				<a href="{{ path('contact') }}" class="btn btn-white">Contact Us</a>
			</div></div>

		{% include "events.html.twig" %}

		<div class="get-in-touch-btn"><a href="{{ path('contact') }}">Interested in similar solution? Get in touch <i></i></a></div>
	</section>
{% endblock %}
