{% extends "layout.html.twig" %}

{% block title %}Short stories | Solutions | {% endblock %}

{% block head %}
	<div class="header partners-detail-header"><div class="in">
			{% include "header.html.twig" %}
			<article>
				<h1 class="h1-big">Short stories</h1>
				<h2 class="h2-big"><strong>Data stories with customers</strong></h2>
				<div class="tags-list">
					<a href="#firehouse"><span class="tag-item tag-item-second">Firehouse</span></a>
					<a href="#crossmedia"><span class="tag-item tag-item-second">Cross Media</span></a>
					<a href="#csc"><span class="tag-item tag-item-second">CSC</span></a>
					<a href="#coupa"><span class="tag-item tag-item-second">Coupa</span></a>
					<a href="#zendesk"><span class="tag-item tag-item-second">Zendesk</span></a>



				</div>
			</article>
		</div></div>
{% endblock %}

{% block content %}
	<section>


		{#FIREHOUSE #}

		<article class="article">
			<div class="in">
				<div class="article-img-right"><img src="/img/firehouse-dashboard.png" alt=""></div>
				<div class="desc">
					<h1 id="firehouse">Firehouse</h1>
					<p>Firehouse Subs, the 11th fastest growing franchise of 2015 according to Entrepreneur Magazine, was looking to put the power of data into the hands of their franchisees. Instead of looking to the top for the information their goal was to provide each of their 1000+ franchisee owners with insights into their own operations and overall performance to better manage their businesses. </p>

					<ul class="normal-list">
						<li><strong>Sales, surveys and reviews data at one report</strong></li>
						<li><strong>1000+ franchises and same data</strong></li>
						<li><strong>How do I benchmark with others ?</strong></li>

					</ul>

					<br>


				</div>
			</div>
		</article>

		<article class="article">
			<div class="in">
				<blockquote>
					<p>“Working with Keboola changed how we work with our franchisees. By giving them access to data we are empowering them to make the decisions that are best for their business which is in turn is better for our business as a whole.” </p>
					<footer>— Danny</footer>
				</blockquote>
			</div>
		</article>




		<article class="article-half-list"><div class="in">
				<h1>More about project</h1>
			<div class="desc-half-list">
				<p>After selecting the GoodData platform, Firehouse Subs partnered with Keboola Vancouver to create an analytics platform, called Station Pulse, just for this purpose. Powered by Keboola Connection (KBC), Keboola Vancouver was able to take data from several sources such as sales, surveys and reviews and put all the information in one easily accessible place. Firehouse Subs not only recognized the need to centralize data, but also the value of adding third party applications such as elastic search for keyword detection and weather augmentation to enrich that data being presented to each local franchise.
				</p>

					<p>
					Now franchisees have 24/7 access to review their restaurant(s) data and an understanding of how to use this tool to monitor their overall health and performance.  By doing things like keeping an eye on sales and sales KPIs, benchmarking KPI’s against other restaurants and noticing correlations to things like the weather and community donations, franchisee owners can now use the data given to them to run the most successful business possible.
					</p>
				</div>
			</div></article>

		{#Cross Media #}

		<article class="article">
			<div class="in">
				<div class="article-img-right"><img src="/img/crossmedia-dashboard.png" alt=""></div>
				<div class="desc">
					<h1 id="crossmedia">Cross Media</h1>
					<p>Cross Media, an award winning communications planning and full service media agency, was looking to provide greater transparency and insights into their marketing decisions for their clients. Their main challenges were how to collect data more efficiently and how to then integrate previously siloed information so that the client’s understood the impact of Cross Media’s branding decisions.</p>

					<ul class="normal-list">
						<li><strong>Siloed information into one report</strong></li>
						<li><strong>Communicate the impact of branding decissions with data</strong></li>
						<li><strong>Get away from data manipulations in excel </strong></li>

					</ul>

					<br>


				</div>
			</div>
		</article>

		<article class="article">
			<div class="in">
				<blockquote>
					<p>““We are ‘Always Under Construction’, Keboola was instrumental in allowing us to reach the next milestone. The integration technology and exceptional customer service can be attributed to the continued success of our client reporting interface.”  </p>
					<footer>— Lee Beale, Director at Cross Media</footer>
				</blockquote>
			</div>
		</article>




		<article class="article-half-list"><div class="in">
				<h1>More about project</h1>
			<div class="desc-half-list">
				<p>Inside Cross Media’s core competency of transparency is Marketing Intelligence, which includes data-driven strategies supported equally by reporting and analysis. Until Keboola Connection (KBC), this was largely a labour intensive process filled with manual data collection and manipulations through Excel. The introduction of KBC automated both the collection process and transformation of data to streamline reporting via the GoodData platform. Not only did this increase their clients’ access to campaign data, but the marketers (Crossmedians) themselves are now able to reallocate their time from the redundant tasks to activities with the most value like analysis and planning.
				</p>

					<p>
					As with many agencies, information was siloed based on organizational divisions like department and account. With each team collecting from different sources (Facebook, Twitter etc.) as well as using their own unique naming conventions data became unusable for reporting purposes. Keboola Vancouver’s Consultants worked with Cross Media to understand the relationships between data and developed data collection best practices in order to improve data integrity.

					</p>
				</div>
			</div></article>


			{#CSC #}

			<article class="article">
				<div class="in">
					<div class="article-img-right"><img src="/img/csc_scr_shot.png" alt=""></div>
					<div class="desc">
						<h1 id="csc">Computer Sciences Corporation</h1>
						<p>As with many modern digital marketing operations, the Global Marketing department of Computer Sciences Corporation (CSC) uses a variety of state-of-the-art tools to maintain its status as one of the largest and most established information technology firms in the world. While these tools are carefully selected to fulfill their primary purposes, they don’t necessarily integrate easily with one another.</p>

						<ul class="normal-list">
							<li><strong>Sales, surveys and reviews data at one report</strong></li>
							<li><strong>1000+ franchises and same data</strong></li>
							<li><strong>How do I benchmark with others ?</strong></li>

						</ul>

						<br>


					</div>
				</div>
			</article>

			<article class="article">
				<div class="in">
					<blockquote>
						<p>“Keboola was instrumental in the success of our digital marketing analytics projects both as integration technology and as extension of our team”
					” </p>
						<footer>Christopher Marin, Senior Principal, Digital Marketing & Analytics</footer>
					</blockquote>
				</div>
			</article>




			<article class="article-half-list"><div class="in">
					<h1>More about project</h1>
				<div class="desc-half-list">
					<p>To solve this issue of functionality integration CSC chose Keboola Connection (KBC). This allowed CSC to take data from various platforms and tools (besides SalesForce and Eloqua at the core, data flows from Adobe Marketing Cloud, Conductor, ActiveStandards, CSC’s CMS and various spreadsheets), clean it, transform it, and then make it available for several points of consumption including the GoodData platform and other internal tools that CSC is currently leveraging.
					</p>

						<p>
						From a technical standpoint, the main challenge of this project was the various methods the tools offered for data integrations. KBC was able to overcome this by leveraging its suite of existing connectors as well as FTP gateways to ingest scheduled exports. KBC added additional value by using backend Redshift transformation to interconnect the disparate data sets, creating and storing daily snapshots to provide CSC with more in-depth historical records, and generating data-health checks to produce warnings in case any of the various data streams were not available.<br>
						GoodData published a case study on this project that can be found <a href="http://www.gooddata.com/resources/csc-case-study" target="_blank" class="gooddata-item"><i>here.</i></a>
						</p>
					</div>
				</div></article>

				{#Coupa #}

				<article class="article">
					<div class="in">
						<div class="article-img-right"><img src="/img/coupa_scr_shot.png" alt=""></div>
						<div class="desc">
							<h1 id="coupa">Coupa</h1>
							<p>Coupa, a market leader in Spend Management Software, recognized the need of their customers to expand on the data being presented in their Coupa Analytics product. The model they had in place was not able to answer all their customer’s most pertinent questions and so they needed to modify their data set-up. One of Coupa’s primary requirements to address this pain point involved finding a streamlined way to incorporate data from additional sources into the existing system and process. </p>

							<ul class="normal-list">
								<li><strong>Sales, surveys and reviews data at one report</strong></li>
								<li><strong>1000+ franchises and same data</strong></li>
								<li><strong>How do I benchmark with others ?</strong></li>

							</ul>

							<br>


						</div>
					</div>
				</article>

				<article class="article">
					<div class="in">
						<blockquote>
							<p>“Coupa is an open platform and Keboola is a best-in-class partner that will help our customers achieve even greater visibility across their environment to make better decisions to help reduce costs.”
						 </p>
							<footer>Tony Darugar, General Manager, Coupa Expenses</footer>
						</blockquote>
					</div>
				</article>




				<article class="article-half-list"><div class="in">
						<h1>More about project</h1>
					<div class="desc-half-list">
						<p>Utilizing Keboola Connection (KBC) to improve the efficiency, totality, and speed of data collection, Coupa achieved their goal. For Coupa’s customers this meant finding data for things like payroll, labor costs, and warehouse management systems all is one place, giving them a more comprehensive view of their business spend to make better cost cutting decisions.
						</p>

							<p>
							Keboola Vancouver was responsible for the consultation services needed for a seamless data integration and the implementation and support required to ease the transition between data systems.<BR>
							Coupa published a press release announcing the partnership that can be found <a href="https://www.coupa.com/newsworthy/press-releases/coupa-expands-spend-analytics-with-keboola-partnership/" target="_blank" class="gooddata-item"><i>here.</i></a>

							</p>
						</div>
					</div></article>

					{#ZENDESK #}

					<article class="article">
						<div class="in">
							<div class="article-img-right"><img src="/img/zendesk_scr_shot.png" alt=""></div>
							<div class="desc">
								<h1 id="zendesk">Zendesk</h1>
								<p>With over 57,000 paid customer accounts in 150 countries, Zendesk knows all about creating an exceptional customer service platform. With an organizational goal to bring companies and their customers closer together, Zendesk wanted to provide their own customers with the data they needed to bridge any gaps.</p>

								<ul class="normal-list">
									<li><strong>Sales, surveys and reviews data at one report</strong></li>
									<li><strong>1000+ franchises and same data</strong></li>
									<li><strong>How do I benchmark with others ?</strong></li>

								</ul>

								<br>


							</div>
						</div>
					</article>

					<article class="article">
						<div class="in">
							<blockquote>
								<p>“Our partnership has allowed us to take customer service to the next level. Giving our customers access to the data they already have and then showing them new ways to analyze and interpret it for their unique business helps them to better understand what’s going on now and how they can make things better for their customers moving forward.”
							</p>
								<footer> Mike Zinne</footer>
							</blockquote>
						</div>
					</article>




					<article class="article-half-list"><div class="in">
							<h1>More about project</h1>
						<div class="desc-half-list">
							<p>Looking for an embedded analytics solutions that could be added to their existing technology, Zendesk partnered with Keboola Vancouver to produce Zendesk Insights. Starting from the data model and working through the dashboard design both companies worked to provide customer service teams with the data they need to know in an easy accessible way.
							</p>

								<p>
								Sticking with their own core values of best in class customer service, they knew their customers would need additional support and training to master this tooling. Partnering, Zendesk Insights Advanced Learning was created. This series of e-learning courses was designed to help Zendesk customers learn at their own pace from their own desks.
								</p>



							</div>

							<div class="desc-half-list">
							<p>Keboola Vancouver continues to support Zendesk’s vision of extraordinary customer service by  providing dedicated 1:1 mentorship for those requiring additional assistance when learning how to create reports and building reports that are too complex or time consuming for the customer to do on their own.
							</p>

							</div>

						</div></article>


		<div class="article-box"><div class="in-second">
				<h1><strong>How can we help you</strong></h1>
				<p>We're on hunt for ROI! With more than 15 years of online marketing and sales experience. Our partners have helped tens of companies in diverse segments to setup, measure and implement marketing and sales campaigns driven by data.  Connecting diverse data sources like ad spend, offline traffic, sales KPIs, CRM data and Customer Support data is just the beginning for us.</p>

				<a href="{{ path('contact') }}" class="btn btn-white">Contact Us</a>
			</div></div>

		{% include "events.html.twig" %}

		<div class="get-in-touch-btn"><a href="{{ path('contact') }}">Interested in similar solution? Get in touch <i></i></a></div>
	</section>
{% endblock %}
